<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/share.png"
			alt="Wechat Share Thumbnail">
	</div>
	<!--[if lt IE 10]><body id="lt-ie10"><![endif]-->

	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('about')"></div>

		<div class="banner banner-about">
			<h2>Make AI Everywhere</h2>
		</div>
		<div class="container about-page-wrap">
			<div class="about-desc common-desc">
				<p>腾讯AI
					Lab作为企业级AI实验室，依托腾讯丰富应用场景、海量大数据、强大计算能力和一流科技人才，专注于AI基础研究和应用探索的结合，希望为腾讯打造全面AI能力，向愿景“让AI无处不在”迈步。</p>
				<p>我们的基础研究方向包括计算机视觉、语音识别、自然语言处理和机器学习，应用探索结合了腾讯场景与业务优势，为内容、游戏、社交和平台工具型AI四类，目前已打造出围棋AI“绝艺”，技术也被微信、QQ、天天快报和QQ音乐等上百个腾讯产品使用。</p>
				<p>团队有70余位来自世界知名院校的科学家，及300多位经验丰富的应用工程师组成，由机器学习和大数据领域专家张潼博士，及语音识别及深度学习专家俞栋博士，并与世界顶级院校与机构合作，共同打造“产学研用一体”的AI生态。</p>
			</div>
			<div class="about-member">
				<h3>领军人物</h3>
				<div class="member-list">

					<!-- ,
                {
                    name: "刘威",
                    posi: "计算机视觉中心总监",
                    desc: "刘威担任 AI Lab 计算机视觉中心总监，负责图像视频数据相关的AI研究。刘威于2012年获得美国哥伦比亚大学计算机科学与电子工程博士学位，曾任IBM沃森研究中心研究科学家。曾获得2011年底 Facebook 博士研究生奖学金，2013年度哥伦比亚大学优秀博士论文奖，2014年度计算机视觉与模式识别国际会议（CVPR）青年研究者奖，2016年度国际信息检索大会（SIGIR）最优论文荣誉奖。刘威博士长期从事计算机视觉、机器学习、数据挖掘、信息检索等领域的基础研究和产品开发，迄今发表和录用论文100+篇，总引用次数为3600+次，论文大都发表在国际权威期刊与会议上。刘威博士多次担任国际权威期刊的客座编委与审稿人，自2007年起一直担任国际顶级会议NIPS、CVPR、ICCV等的程序委员成员，担任第四届自然语言处理与汉语计算会议 NLPCC 2015的领域主席，并自2014年起担任美国自然科学基金信息与智能系统分部（NSF IIS Division）的研究项目评审。",
                    page: '<a href="//www.ee.columbia.edu/~wliu/" target="_blank" class="btn-page" style="display:none;">前往个人主页</a>'
                }, -->

					<div class="member-item member1 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/member1.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">张潼</div>
							<div class="member-position">AI Lab 主任，国家千人计划专家</div>
							<p class="member-desc">张潼博士是中央组织部“千人计划”特聘专家，拥有美国康奈尔大学数学系和计算机系学士，以及斯坦福大学计算机系硕士和博士学位。加入腾讯前，张潼博士曾经担任美国新泽西州立大学教授、IBM研究院研究员、雅虎研究院主任研究员，百度研究院副院长和大数据实验室负责人，期间参与和领导开发过多项机器学习算法和应用系统。
							<p>张潼博士曾参加美国国家科学院大数据专家委员会，并负责过多个美国国家科学基金（National Science
								Foundation）资助的大数据研究项目。此外，张潼博士是美国统计学会和国际数理统计学会Fellow，并担任NIPS（神经信息处理系统进展大会）、ICML（国际机器学习大会）、COLT（学习理论大会）等国际顶级机器学习会议主席或领域主席，以及JMLR（机器学习研究期刊）和Machine
								Learning Journal（机器学习期刊）等国际一流人工智能期刊编委。</p>
							</p>
							<a class="btn-page" href="//tongzhang-ml.org/" target="_blank"
								style="display: none;">前往个人主页 &gt;</a>
						</div>
					</div>

					<div class="member-item member2 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/member2.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">俞栋</div>
							<div class="member-position">AI Lab 副主任</div>
							<p class="member-desc">俞栋博士是首次将深度学习技术应用在语音识别领域的研究领头人之一，该应用极大推动了语音识别的技术发展。俞栋博士在该领域出版了两本专著并发表过大量论文，也是60项专利的发明人及深度学习开源软件CNTK的发起人和主要作者之一。加入腾讯前，他曾担任美国微软研究院语音和对话组（Speech
								and Dialog Group）首席研究员，并兼任浙江大学兼职教授、中科大客座教授及上海交通大学客座研究员。俞栋博士曾获
								2013 年和2016年 IEEE信号处理协会最佳论文奖，现任 IEEE 语音语言处理专业委员会委员，曾任 IEEE/ACM
								音频、语音及语言处理汇刊、IEEE
								信号处理杂志等期刊的编委。俞栋博士有中国浙江大学电子工程学士学位、美国印第安纳大学计算机硕士学位、中国科学院自动化所模式识别与智能控制硕士学位及美国爱达荷大学计算机博士学位。</p>
							<a class="btn-page"
								href="https://sites.google.com/site/dongyu888/" target="_blank"
								style="display: none;">前往个人主页 &gt;</a>
						</div>
					</div>

				</div>
			</div>

			<!-- 研究领域 -->
			<div class="search-area">
				<h3>研究领域</h3>
				<div class="search-area-list clearfix">
					<ul>
						<li>
							<i class="icon">
								<img src="/images/icon-search1.png" alt="">
							</i>
							<h4>计算机视觉</h4>
							<p style="text-align: left;">计算机视觉使得计算机能够理解真实的视觉世界。研究方向：图像/视频编辑，生成，分析，理解；物体/人脸检测，跟踪，和识别；文字识别，3D视觉，SLAM，基于视觉的强化学习。</p>
						</li>
						<li>
							<i class="icon">
								<img src="/images/icon-search2.png" alt="">
							</i>
							<h4>语音识别</h4>
							<p style="text-align: left;">让机器能“听懂”人类语言，将语音转化为文本。研究方向:
								语音增强，声学/语言模型，语音合成。</p>
						</li>
						<li>
							<i class="icon">
								<img src="/images/icon-search3.png" alt="">
							</i>
							<h4>自然语言处理</h4>
							<p style="text-align: left;">赋予计算机系统以自然语言文本方式与外界交互的能力，追踪和研究最前沿的自然语言文本理解和生成技术，孵化下一代自然语言处理技术与商业应用场景。研究方向：语义分析，知识推理，智能问答，机器翻译等。</p>
						</li>
						<li>
							<i class="icon">
								<img src="/images/icon-search4.png" alt="">
							</i>
							<h4>机器学习</h4>
							<p style="text-align: left;">使计算机在没有明确编程的情况下自动执行。研究方向：机器学习理论，数值优化，大规模分布式计算，异构计算;监督，无监督和强化学习</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 应用领域 -->
			<div class="application-area">
				<h3>应用领域</h3>
				<div class="application-area-list clearfix">
					<ul>
						<li>
							<i class="img">
								<img src="/images/application1.jpg" alt="">
							</i>
							<div class="section">
								<h4>社交AI</h4>
								<p style="text-align: left;">核心领域：智能助手，客服机器人；应用于中国领先的社交平台，包括微信和QQ。</p>
							</div>
						</li>
						<li>
							<i class="img">
								<img src="/images/application2.jpg" alt="">
							</i>
							<div class="section">
								<h4>游戏AI</h4>
								<p style="text-align: left;">核心领域：围棋AI绝艺，其他腾讯游戏；支持中国排名第一的线上游戏提供商。</p>
							</div>
						</li>
						<li>
							<i class="img">
								<img src="/images/application3.jpg" alt="">
							</i>
							<div class="section">
								<h4>内容AI</h4>
								<p style="text-align: left;">核心领域：搜索、个性化推荐、内容生成；应用于中国排名第一的线上视频、音乐、阅读平台和新闻app。</p>
							</div>
						</li>
						<li>
							<i class="img">
								<img src="/images/application4.jpg" alt="">
							</i>
							<div class="section">
								<h4>平台AI</h4>
								<p style="text-align: left;">核心领域：机器翻译、聊天机器人、语音识别、敏感性分析；通过强大的工具和服务将AI技术带给开发者，以加速技术创新。</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
<!-- 
		<div class="about-enter">
			<h5>加入我们的团队，与顶尖科学家们携手创造更美好的世界！</h5>
			<a href="recruit.html" class="btn-common">查看职位信息</a>
		</div>
-->

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>