<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/share.png"
			alt="Wechat Share Thumbnail">
	</div>
	<!--[if lt IE 10]><body id="lt-ie10"><![endif]-->

	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('about')"></div>

		<div class="banner banner-about">
			<h2>Make AI Everywhere</h2>
		</div>
		<div class="container about-page-wrap">
			<div class="about-desc common-desc">
				<p>实验室介绍</p>
				<p>实验室介绍</p>
			</div>
			<div class="about-member">
				<h3>团队成员</h3>
				<div class="member-list">
					<div class="member-item member1 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/ly.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">卢宇</div>
							<div class="member-position">AI Lab 主任</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					<div class="member-item member2 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/cph.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">陈鹏鹤</div>
							<div class="member-position">大数据研究员</div>
							<p class="member-desc">简介</p>
						</div>
					</div>

				</div>
			</div>

			<!-- 研究领域 -->
			<div class="search-area">
				<h3>研究领域</h3>
				<div class="search-area-list clearfix">
					<ul>
						<li>
							<i class="icon">
								<img src="/images/icon-search11.png" alt="">
							</i>
							<h4>计算机视觉</h4>
							<p style="text-align: left;">计算机视觉使得计算机能够理解真实的视觉世界。研究方向：图像/视频编辑，生成，分析，理解；物体/人脸检测，跟踪，和识别；文字识别，3D视觉，SLAM，基于视觉的强化学习。</p>
						</li>
						<li>
							<i class="icon">
								<img src="/images/icon-search21.png" alt="">
							</i>
							<h4>语音识别</h4>
							<p style="text-align: left;">让机器能“听懂”人类语言，将语音转化为文本。研究方向:
								语音增强，声学/语言模型，语音合成。</p>
						</li>
						<li>
							<i class="icon">
								<img src="/images/icon-search31.png" alt="">
							</i>
							<h4>自然语言处理</h4>
							<p style="text-align: left;">赋予计算机系统以自然语言文本方式与外界交互的能力，追踪和研究最前沿的自然语言文本理解和生成技术，孵化下一代自然语言处理技术与商业应用场景。研究方向：语义分析，知识推理，智能问答，机器翻译等。</p>
						</li>
						<li>
							<i class="icon">
								<img src="/images/icon-search41.png" alt="">
							</i>
							<h4>机器学习</h4>
							<p style="text-align: left;">使计算机在没有明确编程的情况下自动执行。研究方向：机器学习理论，数值优化，大规模分布式计算，异构计算;监督，无监督和强化学习</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 应用领域 -->
			<div class="application-area">
				<h3>应用领域</h3>
				<div class="application-area-list clearfix">
					<ul>
						<li>
							<i class="img">
								<img src="/images/application1.jpg" alt="">
							</i>
							<div class="section">
								<h4>社交AI</h4>
								<p style="text-align: left;">核心领域：智能助手，客服机器人；应用于中国领先的社交平台，包括微信和QQ。</p>
							</div>
						</li>
						<li>
							<i class="img">
								<img src="/images/application2.jpg" alt="">
							</i>
							<div class="section">
								<h4>游戏AI</h4>
								<p style="text-align: left;">核心领域：围棋AI绝艺，其他腾讯游戏；支持中国排名第一的线上游戏提供商。</p>
							</div>
						</li>
						<li>
							<i class="img">
								<img src="/images/application3.jpg" alt="">
							</i>
							<div class="section">
								<h4>内容AI</h4>
								<p style="text-align: left;">核心领域：搜索、个性化推荐、内容生成；应用于中国排名第一的线上视频、音乐、阅读平台和新闻app。</p>
							</div>
						</li>
						<li>
							<i class="img">
								<img src="/images/application4.jpg" alt="">
							</i>
							<div class="section">
								<h4>平台AI</h4>
								<p style="text-align: left;">核心领域：机器翻译、聊天机器人、语音识别、敏感性分析；通过强大的工具和服务将AI技术带给开发者，以加速技术创新。</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
<!-- 
		<div class="about-enter">
			<h5>加入我们的团队，与顶尖科学家们携手创造更美好的世界！</h5>
			<a href="recruit.html" class="btn-common">查看职位信息</a>
		</div>
-->

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>