<html class="pc pagepc" style="font-size: 91.3889px;">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('academic')"></div>

		<div class="container">
			<div class="paper-title">联合实验室</div>
			<div class="paper-content">
				<div class="paper-main">
					<div class="content academic-content">
						<p>腾讯AI Lab会与在某一领域有全面或深入合作的高校或科研机构成立联合实验室，进一步深化产学合作和技术创新。</p>
						<h5>腾讯-哈尔滨工业大学联合实验室</h5>
						<p>腾讯-哈尔滨工业大学联合实验室依托哈工大社会计算与信息检索研究中心（HIT-SCIR）和腾讯AI
							Lab自然语言处理相关团队，由哈工大刘挺教授和腾讯AI
							Lab张潼博士担任联合主任，主要从事基础NLP，问答机器人和情感分析等自然语言处理相关方向的研究工作。</p>
						<p class="nrbottom">
							<img src="images/academic1.jpg" alt="">
						</p>
						<p>2016年8月，聘任刘挺、秦兵、车万翔、张伟男四位老师为腾讯AI Lab犀牛鸟学术顾问</p>
						<p class="nrbottom">
							<img src="images/academic2.jpg" alt="">
						</p>
						<p>2016年12月，联合实验室在COLING2016展示研究成果</p>
						<p class="nrbottom">
							<img src="images/academic3.jpg" alt="">
						</p>
						<p>2017年3月，在哈工大举行联合实验室交流讨论活动</p>
					</div>
				</div>
				<div class="paper-side"></div>
			</div>
		</div>
		
		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>