<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html">

	<link rel="stylesheet" href="responsive-tables.css">
	<script src="stylesheet" href="responsive-tables.js"></script>
</head>

<body style="" class="lang-cn">
	<section class="g-wrap data">
		<!-- header -->
		<div th:replace="header::header('data')"></div>



		<div class="container">
		<!-- start html -->

			<div class="data-page-title data-title-common">数据</div>
			
			
			<div class = "recruit-item">
				<h3 class = "recruit-tit">数据集介绍</h3>
				
				
				<p class = "description" style = "font-family: Arial;  margin: 20px;  text-align: justify;  font-size: 22px;  line-height: 35px;">
				 			智慧学伴是一个服务于北京市中学生的在线学习平台，它不仅为学习者们提供丰富的在线学习资源和练习题目，
				 			还能够根据学习者的学习、答题情况，基于大数据分析技术生成个性化的学习诊断报告。
				 			我们将智慧学伴平台中的作答数据进行收集和分类加工，在脱敏处理后，将数据开放给各位研究者。
				</p>
	
				<p class = "description" style = "font-family: Arial;  margin: 20px;  text-align: justify;  font-size: 22px;  line-height: 35px;"> 
							完整数据集分为两个不同的类型，一类是微测数据，由学习者进行在线练习时产生，单次的微测练习通常集中于某个特定知识点的巩固；
							另一类是总测数据，数据来源于学期中或学期末统一组织的考试，记录了大量参加统考的学生在各类不同知识点上的作答情况。
				</p>
				
				
				<p class = "description" style = "font-family: Arial;  margin: 20px;  text-align: justify;  font-size: 22px;  line-height: 35px;"> 
							此外，我们还将数据按照学科分类，
							共产出语文、数学、英语、物理、化学、生物、历史、地理等八个科目的总测和微测数据。
							研究者可以选择自己感兴趣的科目数据进行下载和研究。
				</p>
	
				<p class = "description" style = "font-family: Arial;  margin: 20px;  text-align: justify;  font-size: 22px;  line-height: 35px;"> 
							本数据集的下载和使用是免费的。
				</p>
				
			</div>
			
			<div class = "recruit-item">
			
				<h3 class = "recruit-tit">数据集下载</h3>
				<div class="news-list clearfix">
				
					<div class="news-item">
						<a href="download-unit">
							
							<div class="news-text" style = "background: #381462">
								<h4 class="news-title" style = "color: #ffffff; font-family:Microsoft YaHei">微测数据集</h4>
								<p class="news-desc" style = "color: #ffffff;">
									微测数据由学习者进行在线练习时产生，单次的微测练习通常集中于某个特定知识点的巩固。每条数据都记录了某一学生在某道题目上的作答情况。
									<div class="news-date">2018.08.17</div>
								<span class="readmore" style = "color: #ffffff;">Download &gt;</span>
							</div>
						</a>
					</div>
					
					<div class="news-item">
						<a href="download-term">
							
							<div class="news-text" style = "background: #381462">
								<h4 class="news-title" style = "color: #ffffff; font-family:Microsoft YaHei">总测数据集</h4>
								<p class="news-desc" style = "color: #ffffff;">
									总测数据来源于学期内的统一考试，记录了大量参加统考的学生在各类不同知识点上的作答情况。每条数据都记录了某一学生在某道题目上的作答情况。
									<div class="news-date">2018.08.17</div>
								<span class="readmore" style = "color: #ffffff;">Download &gt;</span>
							</div>
						</a>
					</div>
					
				</div>
				
			
			</div>
			
			
			
			<div class = "recruit-item">
			
				<h3 class = "recruit-tit">字段说明</h3>

						<div>微测数据字段说明</div>
						<div class="table_grad scroll_tablex">
						      <table class="table_tab responsive">
						            <tr>
						               
						               <th>No.</th>
						               <th>Filed Name</th>
						               <th>Type</th>
						               <th>Description</th>
						               <th>Additional Information</th>
						           </tr>
						           
						           <tr>     
						                <td>1</td>
						                <td class="oneline onelineTd">user</td>
						                <td>bigint(20)</td>
						                <td>User ID</td>
						                <td>unique</td>
						            </tr>
						            
						            
						            <tr>     
						                <td>2</td>
						                <td class="oneline onelineTd">area_code</td>
						                <td>varchar(255)</td>
						                <td>The code of the district</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>3</td>
						                <td class="oneline onelineTd">school_ID</td>
						                <td>varchar(255)</td>
						                <td>School ID</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>4</td>
						                <td class="oneline onelineTd">class_ID</td>
						                <td>varchar(255)</td>
						                <td>Class ID</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>5</td>
						                <td class="oneline onelineTd">course</td>
						                <td>varchar(255)</td>
						                <td>Subjects</td>
						                <td>BI:biology, CH:chemistry, CN:Chinese, EN:English, GE:geography, HI:history, MA:mathematics, PH:physics</td>
						            </tr>
						            
						            <tr>     
						                <td>6</td>
						                <td class="oneline onelineTd">exam_ID</td>
						                <td>varchar(255)</td>
						                <td>Exam ID</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>7</td>
						                <td class="oneline onelineTd">problem_ID</td>
						                <td>varchar(255)</td>
						                <td>Problem ID</td>
						                <td>unique</td>
						            </tr>
						            
						            
						            <tr>     
						                <td>8</td>
						                <td class="oneline onelineTd">concept</td>
						                <td>varchar(255)</td>
						                <td>concepts</td>
						                <td>concepts examined by the problem</td>
						            </tr>
						            
						             <tr>     
						                <td>9</td>
						                <td class="oneline onelineTd">score_rate</td>
						                <td>float</td>
						                <td>score rate</td>
						                <td></td>
						            </tr>
						            
						            
						            <tr>     
						                <td>10</td>
						                <td class="oneline onelineTd">datetime_of_creating_the_exam</td>
						                <td>datetime</td>
						                <td>The datetime when the unit-test was created</td>
						                <td>format：YYYY/MM/DD  hh:mm:ss</td>
						            </tr>
						            
						            
						            <tr>     
						                <td>11</td>
						                <td class="oneline onelineTd">datetime_of_start_answering</td>
						                <td>datetime</td>
						                <td>The datetime when the student started to do this unit-test</td>
						                <td>format：YYYY/MM/DD  hh:mm:ss</td>
						            </tr>
						            
						            
						            <tr>     
						                <td>12</td>
						                <td class="oneline onelineTd">datetime_of_submission</td>
						                <td>datetime</td>
						                <td>The datetime when the student submitted his/her answers of this unit-test</td>
						                <td>format：YYYY/MM/DD  hh:mm:ss</td>
						            </tr>
						            
						            <tr>     
						                <td>13</td>
						                <td class="oneline onelineTd">total_answer_duration</td>
						                <td>bigint(20) unsigned</td>
						                <td>The total answering durations of all the problems in this unit-test</td>
						                <td>In milliseconds</td>
						            </tr>
						            
						            
						            
						            
						     </table>
						</div>
						
						<div style = "height: 50px"></div>
						
						<div>总测数据字段说明</div>
						
						<div class="table_grad scroll_tablex">
						      <table class="table_tab responsive">
						            <tr>
						               
						               <th>No.</th>
						               <th>Filed Name</th>
						               <th>Type</th>
						               <th>Description</th>
						               <th>Additional Information</th>
						           </tr>
						           
						           <tr>     
						                <td>1</td>
						                <td class="oneline onelineTd">user</td>
						                <td>bigint(20)</td>
						                <td>User ID</td>
						                <td>unique</td>
						            </tr>
						            
						            
						            <tr>     
						                <td>2</td>
						                <td class="oneline onelineTd">area_code</td>
						                <td>varchar(255)</td>
						                <td>The code of the district</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>3</td>
						                <td class="oneline onelineTd">school_ID</td>
						                <td>varchar(255)</td>
						                <td>School ID</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>4</td>
						                <td class="oneline onelineTd">class_ID</td>
						                <td>varchar(255)</td>
						                <td>Class ID</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>5</td>
						                <td class="oneline onelineTd">course</td>
						                <td>varchar(255)</td>
						                <td>Subjects</td>
						                <td>BI:biology, CH:chemistry, CN:Chinese, EN:English, GE:geography, HI:history, MA:mathematics, PH:physics</td>
						            </tr>
						            
						            <tr>     
						                <td>6</td>
						                <td class="oneline onelineTd">exam_ID</td>
						                <td>varchar(255)</td>
						                <td>Exam ID</td>
						                <td></td>
						            </tr>
						            
						            <tr>     
						                <td>7</td>
						                <td class="oneline onelineTd">problem_ID</td>
						                <td>varchar(255)</td>
						                <td>Problem ID</td>
						                <td>unique</td>
						            </tr>
						            
						            
						            <tr>     
						                <td>8</td>
						                <td class="oneline onelineTd">concept</td>
						                <td>varchar(255)</td>
						                <td>concepts</td>
						                <td>concepts examined by the problem</td>
						            </tr>
						            
						             <tr>     
						                <td>9</td>
						                <td class="oneline onelineTd">score_rate</td>
						                <td>float</td>
						                <td>score rate</td>
						                <td></td>
						            </tr>
						            
						            
						            <tr>     
						                <td>10</td>
						                <td class="oneline onelineTd">edu_period</td>
						                <td>datetime</td>
						                <td>education period</td>
						                <td>the education period the student are currently in, such as "K7"</td>
						               
						            </tr>
						            
						            
						            <tr>     
						                <td>11</td>
						                <td class="oneline onelineTd">exam_starting_datetime</td>
						                <td>datetime</td>
						                <td>The datetime when the student started to do this term-test</td>
						                <td>format：YYYY/MM/DD  hh:mm:ss</td>
						            </tr>
						            
						            
						            
						            
						            
						            
						     </table>
						</div>
				
					
				
			</div>
		


		<!-- end html -->
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>