<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/share.png"
			alt="Wechat Share Thumbnail">
	</div>
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/logo.png"
			alt="Wechat Share Thumbnail">
	</div>
	<!--[if lt IE 10]><body id="lt-ie10"><![endif]-->

	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('download-term')"></div>

		<div class="container">
		
			
			<div class="data-page-title data-title-common">总测数据集下载</div>
			
			
			<div class = "recruit-item">
				
				<p class = "description" style = "font-family: Arial;  margin: 20px;  text-align: justify;  font-size: 22px;  line-height: 35px;">
				 			数据更新于2018年8月17日，点击相应方框即可下载所对应的数据集。
				</p>
	
			</div>
			
			
			
			<div class="academic-list">
				<ul class="academic-row clearfix">
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-语文</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-数学</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-英语</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
				</ul>
				<ul class="academic-row clearfix">
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-物理</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-化学</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-生物</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
				</ul>
				<ul class="academic-row clearfix">	
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-历史</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
					<li class="academic-item">
						<a href="">
							<span>
								<p style = "font-weight:bold">总测数据-地理</p>
								<br>
								<p style = "font-size:24px">大小：132.08M</p>
							</span>	
						</a>
					</li>
				</ul>
			</div>
		</div>
			
		</div>
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>