<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html">

<body style="" class="lang-cn">

	<section class="g-wrap term">
		<!-- header -->
		<div th:replace="header::header('download-unit')"></div>

		<div class="container">
		
			<div class="data-page-title data-title-common">总测数据集下载</div>
			<div class="paper-content">
				<div class="paper-main">
					<!--新的数据-->
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/chinese.rar">总测数据-语文</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/math.rar">总测数据-数学</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/english.rar">总测数据-英语</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/physics.rar">总测数据-物理</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/chemistry.rar">总测数据-化学</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/biology.rar">总测数据-生物</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/history.rar">总测数据-历史</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="/download/term/geography.rar">总测数据-地理</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							2018.08.17
						</span>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>