<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="" class="lang-cn">
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/share.png"
			alt="Wechat Share Thumbnail">
	</div>
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/logo.png"
			alt="Wechat Share Thumbnail">
	</div>
	<!--[if lt IE 10]><body id="lt-ie10"><![endif]-->

	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('download-unit')"></div>

		<div class="container">
			<div class="data-page-title data-title-common">总测数据集下载</div>
			<div class="paper-content">
				<div class="paper-main">
					<!--新的数据-->
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-语文</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-数学</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-英语</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-物理</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-化学</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-生物</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-历史</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="data-term-ma">总测数据-地理</a>
						</h3>

						<span class="paper-list-infor">
							<i class = "fa fa-cloud-upload"> </i>
							更新于2018年8月17日
							
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

							<i class = "fa fa-cube"></i>
							127.85 M
						</span>
					</div>
					
					
					
					
					
					
				</div>
			</div>
			
			
			
			
			
			
			<div class="page-navigation" style="display: none">
				<a href="javascript:;" class="active">1</a>
				<a href="javascript:;" class="">2</a>
				<a href="javascript:;" class="">3</a>
				<a href="javascript:;" class="">4</a>
				<a href="javascript:;" class="">5</a>
				<a href="javascript:;" class="">6</a>
				<a href="javascript:;" class="">7</a>
				<a href="javascript:;" class="">8</a>
				<a href="javascript:;" class="">9</a>
				<a href="javascript:;" class="">10</a>
				<a href="javascript:;" class="">11</a>
				<a href="javascript:;" class="">12</a>
				<a href="javascript:;" class="">13</a>
				<a href="javascript:;" class="">14</a>
			</div>
		</div>
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>