<!doctype html>
<html>
	<footer class="footer">
		<ul class="foot-logo">
			<li class="tencent" title="tencent">
				<a href="//www.tencent.com/" target="_blank">腾讯官网</a>
			</li>
			<li class="line" title="tencent"></li>
			<li class="tencentlab" title="tencent lab">
				<a href="//ai.tencent.com/">腾讯 AI Lab 官网</a>
			</li>
		</ul>
		<div class="copyright">Copyright © 1998 - 2017 Tencent. All
			Rights Reserved.</div>
		<ul class="foot-msg">
			<li class="msg-email">
				<a href="mailto:ailab@tencent.com">
					<i class="icon icon-email"></i>
					email
				</a>
			</li>
			<li class="msg-Wechat">
				<i class="icon icon-wx"></i>
				Wechat
				<div class="foot-pop">
					<img src="/images/qrcode-wechat.png" alt="">
				</div>
			</li>
			<li class="msg-qq">
				<i class="icon icon-qq"></i>
				QQ International
			</li>
		</ul>
	</footer>
</html>