<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title> AI Lab - 人工智能实验室官网</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="baidu-site-verification" content="r5znRc9TGh">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="Keywords"
		content="AI，人工智能实验室，人工智能，计算机视觉，语音合成，语音识别，语音技术，语音识别与合成，自然语言处理，机器学习，大数据，深度学习，视频滤镜，图像滤镜，图像描述生成，语音识别前端，神经网络，信息挖掘，信息抽取，对话，问答，机器翻译">
	<meta name="description"
		content="AI Lab（人工智能实验室）， 公司级AI战略，聚集全球数十位人工智能科学家、50位世界一流AI博士。聚焦Content AI, Social AI，Game AI.专注机器学习、计算机视觉、语音识别、自然语言处理等人工智能领域的研究。基于亿万用户海量数据及在互联网各垂直领域的技术优势，立志打造世界顶尖人工智能团队。">
	<meta name="format-detection" content="telephone=no,email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="author" content="AICFE">
	<meta name="copyright" content="AICFE">
	<meta name="robots" content="index,follow">
	<link href="/images/logos.png" type="image/png" rel="shortcut icon">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/idangerous.swiper.css">

	<script>
	(function(doc, win) {
		var docEl = doc.documentElement,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			recalc = function () {
				var designWidth  = 1920; // 设计稿宽度
				var designHeight = 1080; // 设计稿高度
				var maxWidth     = 1920; // 设计稿最大宽度
				var maxHeight    = 1080; // 设计稿最大高度
				var clientWidth  = docEl.clientWidth;
				var clientHeight = docEl.clientHeight;
				var baseFontSize = 100; // 根元素基准字体大小
				if ( (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
					//移动端
					docEl.setAttribute("class", "m"); 
					baseFontSize = 256; // 根元素基准字体大小
					// console.log('m');
					$('.header').addClass('fixed');
				} else {
					//PC端
					if(docEl.getAttribute("class") == "index")
						docEl.setAttribute("class", "pc indexpc");
					else
						docEl.setAttribute("class", "pc pagepc");
					baseFontSize = 100; // 根元素基准字体大小
					// console.log('pc');
				}

				if (!clientWidth) return;
				if (clientWidth / clientHeight > designWidth / designHeight) {
					if (clientHeight <= maxHeight) {
						docEl.style.fontSize = clientHeight / designHeight * baseFontSize + "px";
					} else {
						docEl.style.fontSize = maxHeight / designHeight * baseFontSize + "px";
					}
				} else {
					if (clientWidth <= maxWidth) {
						docEl.style.fontSize = clientWidth / designWidth * baseFontSize + "px";
					} else {
						docEl.style.fontSize = maxWidth / designWidth * baseFontSize + "px";
					}
				}
			};

		// Abort if browser does not support addEventListener
		if (!doc.addEventListener) return;
		win.addEventListener(resizeEvt, recalc, false);
		doc.addEventListener('DOMContentLoaded', recalc, false);
	})(document, window);
	</script>

	<script type="text/javascript" src="/js/idangerous.swiper.min.js"></script>
	<script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
	<script type="text/javascript" src="/js/sona.min.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/jquery.i18n.properties.min.js"></script>
	<!--
	<script type="text/javascript" src="/js/main.js"></script>
	-->

</head>
</html>