<!doctype html>
<html class="index" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/share.png"
			alt="Wechat Share Thumbnail">
	</div>
	<!--[if lt IE 10]><body id="lt-ie10"><![endif]-->

	<!-- loading -->
	<div class="loading hide" id="loader">
		<div class="loading-img" id="loadimg"></div>
		<div class="loading-bar" id="loadbar">
			<span class="percent-text">Loading…</span>
			<span class="percent-num" id="percent">0%</span>
		</div>
	</div>
	<!-- loading -->

	<!-- header -->
	<div th:replace="header::header('index')"></div>

	<div class="swiper-container swiper-container-h">
		<div class="swiper-pagination-h">
			<span
				class="swiper-pagination-switch swiper-visible-switch swiper-active-switch">
				<em class="cndot">AI Lab</em>
				<em class="endot" style="display: none;">AI Lab</em>
			</span>
			<span class="swiper-pagination-switch">
				<em class="cndot">研究与应用</em>
				<em class="endot" style="display: none;">Research Areas</em>
			</span>
			<span class="swiper-pagination-switch">
				<em class="cndot">论文成果</em>
				<em class="endot" style="display: none;">Publications</em>
			</span>
			<span class="swiper-pagination-switch">
				<em class="cndot">最新动态</em>
				<em class="endot" style="display: none;">News</em>
			</span>
			<span class="swiper-pagination-switch">
				<em class="cndot">加入腾讯</em>
				<em class="endot" style="display: none;">Join Us</em>
			</span>
		</div>
		<div class="swiper-wrapper swiper-wrapper-h"
			style="width: 1920px; height: 4935px; transform: translate3d(0px, 0px, 0px); transition-duration: 0.3s;">
			<div class="swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 1920px; height: 987px;">
				<div class="page-wr page1">
					<div class="logo">
						<img class="logo_img" src="/images/aicfe.png"
							srcset="/images/aicfe.png" alt="腾讯 AI Lab">
					</div>
					<!-- <h2 class="logo-text">腾讯 AI Lab 官网</h2> -->
					<div class="page1-title-slogen">Make AI Everywhere</div>
					<div class="page1-title">让 AI 无处不在</div>
					<div class="page1-info">
						腾讯公司级AI战略蓄势待发，聚集全球数十位人工智能科学家、70余位世界一流AI博士。
						<br>
						专注机器学习、计算机视觉、语音识别、自然语言处理等人工智能领域的研究，孵化出机器翻译、语音聊天、智能问答、图像理解、棋类博弈、无人驾驶等项目，探索未来技术的商业应用前景。
						<br>
						基于腾讯亿万用户海量数据及在互联网各垂直领域的技术优势，立志打造世界顶尖人工智能团队。
						<br>
					</div>
				</div>
			</div>
			<div class="swiper-slide" style="width: 1920px; height: 987px;">
				<div class="page-wr page2">
					<div class="page-content">
						<div class="study-title">研究与应用领域</div>
						<div class="search-cats clearfix">
							<a href="javascript:;" class="active">研究领域</a>
							<a href="javascript:;">应用领域</a>
						</div>
						<div class="paper-container-s">
							<div class="swiper-wrapper"
								style="width: 3840px; height: 477.672px;">
								<div
									class="search-content swiper-slide swiper-slide-visible swiper-slide-active"
									style="width: 1920px; height: 477.672px;">
									<ul>
										<li>
											<i class="icon">
												<img src="/images/icon-search1.png" alt="">
											</i>
											<h4>计算机视觉</h4>
											<p>计算机视觉使得计算机能够理解真实的视觉世界。</p>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-search2.png" alt="">
											</i>
											<h4>语音识别</h4>
											<p>使机器能“听懂”人类语言，将语音转化为文本。</p>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-search3.png" alt="">
											</i>
											<h4>自然语言处理</h4>
											<p>赋予计算机系统以自然语言文本方式与外界交互的能力。</p>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-search4.png" alt="">
											</i>
											<h4>机器学习</h4>
											<p>使计算机在没有明确编程的情况下自动执行。</p>
										</li>
									</ul>
								</div>
								<div class="application-content swiper-slide"
									style="width: 1920px; height: 477.672px;">
									<ul>
										<li>
											<i class="icon">
												<img src="/images/icon-application1.png" alt="">
											</i>
											<div class="section">
												<h4>社交AI</h4>
												<p>核心领域：智能助手，客服机器人；应用于中国领先的社交平台，包括微信和QQ。</p>
											</div>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-application2.png" alt="">
											</i>
											<div class="section">
												<h4>游戏AI</h4>
												<p>核心领域：围棋AI绝艺，其他腾讯游戏；支持中国排名第一的线上游戏提供商。</p>
											</div>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-application3.png" alt="">
											</i>
											<div class="section">
												<h4>内容AI</h4>
												<p>核心领域：搜索、个性化推荐、内容生成；应用于中国排名第一的线上视频、音乐、阅读平台和新闻app。</p>
											</div>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-application4.png" alt="">
											</i>
											<div class="section">
												<h4>平台AI</h4>
												<p>核心领域：机器翻译、聊天机器人、语音识别、敏感性分析；通过强大的工具和服务将AI技术带给开发者，以加速技术创新。</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="page-btn-area">
							<a href="about" target="_blank"
								class="page2-btn btn-common">查看更多</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide" style="width: 1920px; height: 987px;">
				<div class="page-wr page6">
					<h2 class="page6-title ">论文成果</h2>
					<div class="swiper-container paper-container-v">
						<div class="swiper-wrapper paper-wrapper"
							style="padding-left: 442.943px; padding-right: 442.943px; width: 11516.5px; height: 547.156px; transform: translate3d(-1771.77px, 0px, 0px); transition-duration: 0s;">
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Left-right_Comparative_Recurrent_Model_for_Stereo_Matching.html"
									target="_blank">
									<div class="tit">2018 CVPR</div>
									<div class="tit-2">Left-right Comparative Recurrent Model
										for Stereo Matching</div>
									<div class="txt">
										Zequn Jie, Pengfei Wang, Yonggen Ling, Bo Zhao, Yunchao Wei,
										Jiashi Feng, Wei Liu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Revisiting_Dilated_Convolution__A_Simple_Approach_for_Weakly-_and_Semi-_Supervised_Semantic_Segmentation.html"
									target="_blank">
									<div class="tit">2018 CVPR</div>
									<div class="tit-2">Revisiting Dilated Convolution: A
										Simple Approach for Weakly- and Semi- Supervised Semantic
										Segmentation</div>
									<div class="txt">
										Yunchao Wei, Huaxin Xiao, Honghui Shi, Zequn Jie, Jiashi Feng,
										Thomas Huang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Bidirectional_Attentive_Fusion_with_Context_Gating_for_Dense_Video_Captioning.html"
									target="_blank">
									<div class="tit">2018 CVPR</div>
									<div class="tit-2">Bidirectional Attentive Fusion with
										Context Gating for Dense Video Captioning</div>
									<div class="txt">
										Jingwen Wang, Wenhao Jiang, Lin Ma, Wei Liu,Yong Xu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<!-- paper1 -->
							<div class="swiper-slide paper-slide swiper-slide-visible"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Adversarial_Learning_with_Local_Coordinate_Coding.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Adversarial Learning with Local
										Coordinate Coding</div>
									<div class="txt">
										Jiezhang Cao, Yong Guo, Qingyao Wu, Chunhua Shen,Junzhou
										Huang， Mingkui Tan
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div
								class="swiper-slide paper-slide swiper-slide-visible swiper-slide-active"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Composite_Functional_Gradient_Learning_of_Generative_Adversarial_Models.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Composite Functional Gradient Learning
										of Generative Adversarial Models</div>
									<div class="txt">
										Rie Johnson, Tong Zhang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide swiper-slide-visible"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Feedback-based_Tree_Search_for_Reinforcement_Learning.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Feedback-based Tree Search for
										Reinforcement Learning</div>
									<div class="txt">
										Daniel R. Jiang, Emmanuel Ekwedike, Han Liu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Graphical_Nonconvex_Optimization_for_Optimal_Estimation_in_Gaussian_Graphical_Models.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Graphical Nonconvex Optimization for
										Optimal Estimation in Gaussian Graphical Models</div>
									<div class="txt">
										Qiang Sun, Kean Ming Tan, Han Liu, Tong Zhang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Fully_Decentralized_Multi-Agent_Reinforcement_Learning_with_Networked_Agents.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Fully Decentralized Multi-Agent
										Reinforcement Learning with Networked Agents</div>
									<div class="txt">
										Kaiqing Zhang, Zhuoran Yang, Han Liu, Tong Zhang, Tamer Başar
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Asynchronous_Decentralized_Parallel_Stochastic_Gradient_Descent.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Asynchronous Decentralized Parallel
										Stochastic Gradient Descent</div>
									<div class="txt">
										Xiangru Lian, Wei Zhang, Ce Zhang, Ji Liu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./D2__Decentralized_Training_over_Decentralized_Data.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">D2: Decentralized Training over
										Decentralized Data</div>
									<div class="txt">
										Hanlin Tang, Xiangru Lian, Ming Yan, Ce Zhang, Ji Liu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Candidates_v.s._Noises_Estimation_for_Large_Multi-Class_Classification_Problem.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Candidates v.s. Noises Estimation for
										Large Multi-Class Classification Problem</div>
									<div class="txt">
										Lei Han, Tong Zhang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./End-to-end_Active_Object_Tracking_via_Reinforcement_Learning.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">End-to-end Active Object Tracking via
										Reinforcement Learning</div>
									<div class="txt">
										Wenhan Luo, Peng Sun, Fangwei Zhong, Wei Liu, Tong Zhang,
										Yizhou Wang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Policy_Optimization_with_Demonstrations.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Policy Optimization with
										Demonstrations</div>
									<div class="txt">
										Bingyi Kang, Zequn Jie, Jiashi Feng
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Safe_Element_Screening_for_Submodular_Function_Minimizatio.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Safe Element Screening for Submodular
										Function Minimizatio</div>
									<div class="txt">
										Weizhong Zhang, Bin Hong, Lin Ma, Wei Liu, Tong Zhang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./An_Algorithmic_Framework_of_Variable_Metric_Over-Relaxed_Hybrid_Proximal_Extra-Gradient_Method.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">An Algorithmic Framework of Variable
										Metric Over-Relaxed Hybrid Proximal Extra-Gradient Method</div>
									<div class="txt">
										Li Shen, Peng Sun, Yitong Wang, Wei Liu, Tong Zhang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Towards_More_Efficient_Stochastic_Decentralized_Learning__Faster_Convergence_and_Sparse_Communication.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Towards More Efficient Stochastic
										Decentralized Learning: Faster Convergence and Sparse
										Communication</div>
									<div class="txt">
										Zebang Shen, Aryan Mokhtari, Tengfei Zhou, Peilin Zhao, Hui
										Qian
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Transfer_Learning_via_Learning_to_Transfer.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Transfer Learning via Learning to
										Transfer</div>
									<div class="txt">
										Ying Wei, Yu Zhang, Junzhou Huang, Qiang Yang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Error_Compensated_Quantized_SGD_and_its_Applications_to_Large-scale_Distributed_Optimization.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Error Compensated Quantized SGD and
										its Applications to Large-scale Distributed Optimization</div>
									<div class="txt">
										Jiaxiang Wu, Weidong Huang, Junzhou Huang, and Tong Zhang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Learning_Domain-Sensitive_and_Sentiment-Aware_Word_Embeddings.html"
									target="_blank">
									<div class="tit">2018 ACL</div>
									<div class="tit-2">Learning Domain-Sensitive and
										Sentiment-Aware Word Embeddings</div>
									<div class="txt">
										Bei Shi, Zihao Fu, Lidong Bing, Wai Lam
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Transformation_Networks_for_Target-Oriented_Sentiment_Classification.html"
									target="_blank">
									<div class="tit">2018 ACL</div>
									<div class="tit-2">Transformation Networks for
										Target-Oriented Sentiment Classification</div>
									<div class="txt">
										Xin Li, Lidong Bing, Wai Lam, Bei Shi
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Left-right_Comparative_Recurrent_Model_for_Stereo_Matching.html"
									target="_blank">
									<div class="tit">2018 CVPR</div>
									<div class="tit-2">Left-right Comparative Recurrent Model
										for Stereo Matching</div>
									<div class="txt">
										Zequn Jie, Pengfei Wang, Yonggen Ling, Bo Zhao, Yunchao Wei,
										Jiashi Feng, Wei Liu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Revisiting_Dilated_Convolution__A_Simple_Approach_for_Weakly-_and_Semi-_Supervised_Semantic_Segmentation.html"
									target="_blank">
									<div class="tit">2018 CVPR</div>
									<div class="tit-2">Revisiting Dilated Convolution: A
										Simple Approach for Weakly- and Semi- Supervised Semantic
										Segmentation</div>
									<div class="txt">
										Yunchao Wei, Huaxin Xiao, Honghui Shi, Zequn Jie, Jiashi Feng,
										Thomas Huang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Bidirectional_Attentive_Fusion_with_Context_Gating_for_Dense_Video_Captioning.html"
									target="_blank">
									<div class="tit">2018 CVPR</div>
									<div class="tit-2">Bidirectional Attentive Fusion with
										Context Gating for Dense Video Captioning</div>
									<div class="txt">
										Jingwen Wang, Wenhao Jiang, Lin Ma, Wei Liu,Yong Xu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>


							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Adversarial_Learning_with_Local_Coordinate_Coding.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Adversarial Learning with Local
										Coordinate Coding</div>
									<div class="txt">
										Jiezhang Cao, Yong Guo, Qingyao Wu, Chunhua Shen,Junzhou
										Huang， Mingkui Tan
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Composite_Functional_Gradient_Learning_of_Generative_Adversarial_Models.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Composite Functional Gradient Learning
										of Generative Adversarial Models</div>
									<div class="txt">
										Rie Johnson, Tong Zhang
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="./Feedback-based_Tree_Search_for_Reinforcement_Learning.html"
									target="_blank">
									<div class="tit">2018 ICML</div>
									<div class="tit-2">Feedback-based Tree Search for
										Reinforcement Learning</div>
									<div class="txt">
										Daniel R. Jiang, Emmanuel Ekwedike, Han Liu
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
						</div>
						<div class="paper-pagination-v hide">
							<span class="swiper-pagination-switch swiper-visible-switch"></span>
							<span
								class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span>
							<span class="swiper-pagination-switch swiper-visible-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch"></span>
						</div>
						<div class="swiper-button-next paper-button-next"></div>
						<div class="swiper-button-prev paper-button-prev"></div>
					</div>
					<div class="page-btn-area">
						<a href="papers" target="_blank"
							class="page6-btn btn-common">查看全部论文</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide" style="width: 1920px; height: 987px;">
				<div class="page-wr page7">
					<div class="page7-container">
						<h2 class="page7-title">最新动态</h2>
						<div class="page7-news-list clearfix">
							<div class="news-item">
								<a href="news14.html" target="_blank">
									<div class="news-pic"
										style="background-image: url(/images/salt_lake_city_7.jpg);"></div>
									<div class="news-text">
										<h4 class="news-title">CVPR 2018 | 腾讯AI Lab入选21篇论文详解</h4>
										<p class="news-desc">近十年来在国际计算机视觉领域最具影响力、研究内容最全面的顶级学术会议CVPR，近日揭晓2018年收录论文名单，腾讯AI
											Lab共有21篇论文入选，位居国内企业前列，我们将在下文进行详解，欢迎交流与讨论。…</p>
										<div class="news-date">2018年3月21日</div>
										<span class="readmore">Read More &gt;</span>
									</div>
								</a>
							</div>
							<div class="news-item">
								<a href="//ai.tencent.com/ailab/news13.html">
									<div class="news-pic"
										style="background-image: url(/images/1529056672856983.jpg);"></div>
									<div class="news-text">
										<h4 class="news-title">腾讯AI Lab发布三大核心战略，与自然科研达成战略合作</h4>
										<p class="news-desc">3月15日，腾讯AI
											Lab第二届学术论坛在深圳举行，聚焦人工智能在医疗、游戏、多媒体内容、人机交互等四大领域的跨界研究与应用。全球30位顶级AI专家出席，对多项前沿研究成果进行了深入探讨与交流。…</p>
										<div class="news-date">2018年3月15日</div>
										<span class="readmore">Read More &gt;</span>
									</div>
								</a>
							</div>

							<div class="news-item">
								<a href="//ai.tencent.com/ailab/news12.html">
									<div class="news-pic"
										style="background-image: url(/images/1515553766640554.jpg);"></div>
									<div class="news-text">
										<h4 class="news-title">腾讯 AI Lab 主任张潼博士：机器学习里的优化问题</h4>
										<p class="news-desc">日前，在中国运筹学会的闭门会议——现代运筹学发展讨论会上，腾讯 AI
											Lab（腾讯人工智能实验室）主任张潼博士发表了精彩演说。作为机器学习领域的知名学者，他开场表示，机器学习和运筹优化有很多的共同问题。接下来，他详细介绍了机器学习领域中优化的进展，以及大家比较感兴趣的研究课题。在演讲的最后，他表示，运筹优化的研究人员可以和机器学习研究人员多多交流，大家共同合作，共同促进。…</p>
										<div class="news-date">2018年1月9日</div>
										<span class="readmore">Read More &gt;</span>
									</div>
								</a>
							</div>

						</div>
						<div class="page-btn-area">
							<a href="news" target="_blank"
								class="page7-btn btn-common">查看全部动态</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide page8-wr"
				style="width: 1920px; height: 987px;">
				<div class="page-wr page8">
					<div class="page8-wrap page-content">
						<div class="page8-container">
							<h2 class="page8-title">来自腾讯</h2>
							<div class="page8-text">在移动互联网新技术发展中，腾讯将专注AI技术的广泛应用与基础研究，结合产品数据与用户行为的学习，为多个产品打造出个性化与创新体验，在挑战难题的同时研究对新算法的突破。于此同时，通过云服务与开放平台，将图表、语音、自然语言、机器学习等方面积累的AI技术提供给广大创业者。</div>
							<div class="page8-title-3">腾讯AI Lab犀牛鸟学术合作计划</div>
							<div class="page8-text-3">腾讯AI
								Lab犀牛鸟学术合作计划秉持开放、灵活、共赢的原则，旨在通过无边界的产学研合作，推动人工智能的前沿研发和人才培养。</div>
							<a class="page8-btn2 btn-common"
								href="academic" target="_blank">查看更多项目</a>
							<div class="page8-title-2">诚邀您的加入</div>
							<div class="page8-text-2">加入我们的团队，与顶尖科学家们携手创造更美好的世界！</div>
							<a class="page8-btn btn-common"
								href="recruit" target="_blank">查看职位信息</a>
						</div>
					</div>
				</div>
				<!-- footer -->
				<div th:replace="footer::html"></div>
			</div>
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination swiper-pagination-h"></div>
	</div>

	<script type="text/javascript">
    // 判断UA
    $(function () {
        var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        var s;
        (s = ua.match(/rv:([\d.]+)\) like gecko/)) ? Sys.ie = s[1] :
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
        (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
        (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
        (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
        // console.log(s);
        if (Sys.ie){
            // setTimeout(,100);
            Swipie()
        }else{
            // setTimeout(,100);
            Swip()
        }
       
    });

    // 页面内滚动
    function Noscroll(index){
        var $pageNoScrollWr = $('.swiper-wrapper-h').children('.swiper-slide').eq(index);
        var $pageNoScroll = $pageNoScrollWr.find('.page-wr');
        var $pageNoScrollCont = $pageNoScroll.children('.page-content');
        var scrollHeight = $pageNoScrollCont.height()-$pageNoScroll.height();
        if ($pageNoScrollCont.height() > $pageNoScroll.height()) {
            $pageNoScrollWr.addClass("swiper-no-swiping");
        }
        
        var startX;
        var startY;
        $pageNoScroll.on('touchstart',function(){
            startX = event.touches[0].pageX;
            startY = event.touches[0].pageY;
        });

        $pageNoScroll.on("touchmove",function(){
            var x = event.touches[0].pageX;
            var y = event.touches[0].pageY;
            var dx = startX - x;
            var dy = startY - y;
            if(dy < 0){  //上滑
                // console.log('up')
                if($pageNoScroll.scrollTop() == 0){
                   $pageNoScrollWr.removeClass("swiper-no-swiping");
                }
            }

            if(dy > 0){  //下滑
                // console.log('down')
                if($pageNoScroll.scrollTop() == scrollHeight){
                   $pageNoScrollWr.removeClass("swiper-no-swiping");
                }
            }

        });

        $pageNoScroll.scroll(function() {
            // console.log($pageNoScroll.scrollTop(),scrollHeight)
           
            if($pageNoScroll.scrollTop() == 0){
                $pageNoScrollWr.removeClass("swiper-no-swiping");
            }

            if($pageNoScroll.scrollTop() == scrollHeight){
               $pageNoScrollWr.removeClass("swiper-no-swiping");
            }   
            
        });
    }
    
    // 默认swipr
    function Swip(){
        var swiperV = new Swiper('.swiper-container-h',{
            pagination: '.swiper-pagination-h',
            paginationClickable: true,
            slidesPerView: 1,
            mode: 'vertical',
            // touchRatio : 0.5,
            longSwipesRatio : 0,
            mousewheelControl : true,
            mousewheelControlForceToAxis : true,
            keyboardControl : true,
            simulateTouch: false,
            // initialSlide :4,
            noSwiping : true,
            onSlideChangeStart: function(swiper){
                if(!swiper.slides[0].isActive()){
                    //新的slide是活动的
                    // console.log(!swiperV.slides[0].isActive());
                    $('.header').addClass('on');

                } else{
                    $('.header').removeClass('on');
                }

                // console.log(swiperV.activeIndex)
                
                Noscroll(swiperV.activeIndex);
            },
            paginationBulletRender: function (swiper, index, className) {
                return '<span class="' + className + '">' + (index + 1) + '</span>';
            }
        });

        var swiperH = new Swiper('.paper-container-v',{
            pagination: '.paper-pagination-v',
            paginationClickable: true,
            slidesPerView: 3,
            loop:true,
            // centeredSlides: true,
            watchActiveIndex: true,
            initialSlide :1,
            centeredSlides: !0,
            watchSlidesProgress : true
        })

        var swiperS = new Swiper('.paper-container-s',{
            onSlideChangeStart: function(swiper) {
                $(".search-cats .active").removeClass('active');
                $(".search-cats a").eq(swiper.activeLoopIndex).addClass('active');
            }
        });

        $(".search-cats a").on('touchstart mousedown',function(e) {
            e.preventDefault();
            $(".search-cats .active").removeClass('active');
            $(this).addClass('active');
            swiperS.swipeTo( $(this).index() );
        })


                      
          $('.paper-button-prev').on('click', function(e){
            e.preventDefault()
            swiperH.swipePrev()
          })
          $('.paper-button-next').on('click', function(e){
            e.preventDefault()
            swiperH.swipeNext()
          })
          // console.log('新的slide的位置是'+ swiperV.index());
          dotShow();
          loadProperties(); //中英文切换
    }

    // ie专用
    function Swipie(){
        var swiperV = new Swiper('.swiper-container-h',{
            pagination: '.swiper-pagination-h',
            paginationClickable: true,
            slidesPerView: 1,
            mode: 'vertical',
            mousewheelControl : true,
            keyboardControl : true,
            simulateTouch: false,
            onSlideChangeStart: function(){
                if(!swiperV.slides[0].isActive()){
                    //新的slide是活动的
                    // console.log(!swiperV.slides[0].isActive());
                    $('.header').addClass('on');
                }else{
                    $('.header').removeClass('on');
                }

                Noscroll(swiperV.activeIndex);
            }
          })
          var swiperH = new Swiper('.paper-container-v',{
            pagination: '.paper-pagination-v',
            paginationClickable: true,
            slidesPerView: 3,
            loop:true,
            // centeredSlides: true,
            watchActiveIndex: true,
            initialSlide :1,
            centeredSlides: !0,
            watchSlidesProgress : true
        })
                      
          $('.paper-button-prev').on('click', function(e){
            e.preventDefault()
            swiperH.swipePrev()
          })
          $('.paper-button-next').on('click', function(e){
            e.preventDefault()
            swiperH.swipeNext()
          })
          // console.log('新的slide的位置是'+ swiperV.index());
          dotShow();
          loadProperties(); //中英文切换
    }
    </script>
</body>
</html>