<!doctype html>
<html class="index" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<!-- header -->
	<div th:replace="header::header('index')"></div>

	<div class="swiper-container swiper-container-h">
		<div class="swiper-pagination-h">
			<span
				class="swiper-pagination-switch swiper-visible-switch swiper-active-switch">
				<em class="cndot">AI Lab</em>
				<em class="endot" style="display: none;">AI Lab</em>
			</span>
			<span class="swiper-pagination-switch">
				<em class="cndot">研究与应用</em>
				<em class="endot" style="display: none;">Research Areas</em>
			</span>
			<span class="swiper-pagination-switch">
				<em class="cndot">论文成果</em>
				<em class="endot" style="display: none;">Publications</em>
			</span>
			<span class="swiper-pagination-switch">
				<em class="cndot">最新动态</em>
				<em class="endot" style="display: none;">News</em>
			</span>
		</div>
		<div class="swiper-wrapper swiper-wrapper-h"
			style="width: 1920px; height: 4935px; transform: translate3d(0px, 0px, 0px); transition-duration: 0.3s;">
			<div class="swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 1920px; height: 987px;">
				<div class="page-wr page1">
					<div class="logo">
						<img class="logo_img" src="/images/aicfe.png"
							srcset="/images/aicfe.png" alt=" AI Lab">
					</div>
					<div class="page1-title-slogen">AI Lab @ AICFE</div>
					<div class="page1-title">未来教育高精尖中心人工智能实验室</div>
					<div class="page1-info">
						公司级AI战略蓄势待发，聚集全球数十位人工智能科学家、70余位世界一流AI博士。
						<br>
						专注机器学习、计算机视觉、语音识别、自然语言处理等人工智能领域的研究，孵化出机器翻译、语音聊天、智能问答、图像理解、棋类博弈、无人驾驶等项目，探索未来技术的商业应用前景。
						<br>
						基于亿万用户海量数据及在互联网各垂直领域的技术优势，立志打造世界顶尖人工智能团队。
						<br>
					</div>
				</div>
			</div>
			<div class="swiper-slide" style="width: 1920px; height: 987px;">
				<div class="page-wr page2">
					<div class="page-content">
						<div class="study-title">研究与应用领域</div>
						<div class="search-cats clearfix">
							<a href="javascript:;" class="active">研究领域</a>
							<a href="javascript:;">应用领域</a>
						</div>
						<div class="paper-container-s">
							<div class="swiper-wrapper"
								style="width: 3840px; height: 477.672px;">
								<div
									class="search-content swiper-slide swiper-slide-visible swiper-slide-active"
									style="width: 1920px; height: 477.672px;">
									<ul>
										<li>
											<i class="icon">
												<img src="/images/icon-search11.png" alt="">
											</i>
											<h4>教育知识图谱构建</h4>
											<p>海量教育信息结构化，使得知识表示更加贴近人类认知方式</p>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-search21.png" alt="">
											</i>
											<h4>教育数据挖掘</h4>
											<p>探索教育数据中的隐含信息，优化教育决策</p>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-search31.png" alt="">
											</i>
											<h4>学习者建模</h4>
											<p>对学习过程进行宏观刻画与微观描述，全面理解学习者</p>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-search41.png" alt="">
											</i>
											<h4>教育问答及对话系统</h4>
											<p>赋予计算机系统对话能力，为师生答疑解惑</p>
										</li>
									</ul>
								</div>
								<div class="application-content swiper-slide"
									style="width: 1920px; height: 477.672px;">
									<ul>
										<li>
											<i class="icon">
												<img src="/images/icon-application11.png" alt="">
											</i>
											<div class="section">
												<h4>领域知识构建及理解</h4>
												<p>为各特定领域构建专属知识图谱，弥补深度学习模型在领域知识方面的缺陷</p>
											</div>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-application21.png" alt="">
											</i>
											<div class="section">
												<h4>学习者认知与交互行为分析</h4>
												<p>借助数据深层理解学习者，促进个性化学习过程，并针对各类风险进行即时监测和诊断</p>
											</div>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-application31.png" alt="">
											</i>
											<div class="section">
												<h4>智能教育环境构建</h4>
												<p>建立新型人机关系，自动感知师生需求并提供智能化服务，驱动泛在学习</p>
											</div>
										</li>
										<li>
											<i class="icon">
												<img src="/images/icon-application41.png" alt="">
											</i>
											<div class="section">
												<h4>教育智能机器人</h4>
												<p>改变知识呈现方式，以更为生动形象的方式呈现教育资源，减轻学习者认知负荷</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="page-btn-area">
							<a href="" target="_blank"
								class="page2-btn btn-common">查看更多</a>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-slide" style="width: 1920px; height: 987px;">
				<div class="page-wr page6">
					<h2 class="page6-title ">论文成果</h2>
					<div class="swiper-container paper-container-v">
						<div class="swiper-wrapper paper-wrapper"
							style="padding-left: 442.943px; padding-right: 442.943px; width: 11516.5px; height: 547.156px; transform: translate3d(-1771.77px, 0px, 0px); transition-duration: 0s;">
							
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="paper1.html"
									target="_blank">
									<div class="tit">2018 IEEE Access</div>
									<div class="tit-2">KnowEdu: A System to Construct Knowledge Graph for Education</div>
									<div class="txt">
										Penghe CHEN, Yu LU, Vincent W. ZHENG, Xiyang CHEN, and Boda YANG
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="paper2.html"
									target="_blank">
									<div class="tit">AIED 2018</div>
									<div class="tit-2">Smart Learning Partner: An Interactive Robot for Education</div>
									<div class="txt">
										Yu LU, Chen CHEN, Penghe CHEN, Xiyang CHEN, and Zijun ZHUANG
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href="paper3.html"
									target="_blank">
									<div class="tit">2017 Sensors</div>
									<div class="tit-2">A Framework for Learning Analytics Using Commodity Wearable Devices</div>
									<div class="txt">
										Yu LU, Sen ZHANG, Zhiqiang ZHANG, Wendong XIAO and Shengquan YU
										<br>
										2017
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
													
							<div class="swiper-slide paper-slide swiper-slide-duplicate"
								style="width: 442.943px; height: 547.156px;">
								<a class="paper-item"
									href=""
									target="_blank">
									<div class="tit">ICDM 2018</div>
									<div class="tit-2">Prerequisite-Driven Deep Knowledge Tracing</div>
									<div class="txt">
										Penghe CHEN, Yu LU, Vincent W. ZHENG, and Yang PIAN
										<br>
										2018
									</div>
									<div class="link">Read More</div>
								</a>
							</div>
							
							
							
						</div>
						<div class="paper-pagination-v hide">
							<span class="swiper-pagination-switch swiper-visible-switch"></span>
							<span
								class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span>
							<span class="swiper-pagination-switch swiper-visible-switch"></span>
						</div>
						<div class="swiper-button-next paper-button-next"></div>
						<div class="swiper-button-prev paper-button-prev"></div>
					</div>
					<div class="page-btn-area">
						<a href="papers" target="_blank"
							class="page6-btn btn-common">查看全部论文</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide page8-wr" style="width: 1920px; height: 987px;">
				<div class="page-wr page7">
					<div class="page7-container">
						<h2 class="page7-title">最新动态</h2>
						<div class="page7-news-list clearfix">
							<div class="news-item">
								<a href="news1.html" target="_blank">
									<div class="news-pic" style="background-image: url(/images/dongqi.jpg);"></div>
									<div class="news-text">
										<h4 class="news-title">2018年年中工作总结</h4>
										<p class="news-desc">为加强中心各部之间的工作交流与进步，提升团队凝聚力，中心于2018年8月3日在京师学堂召开2018年中工作总结暨表彰大会。</p>
										<div class="news-date">2018年8月3日</div>
										<span class="readmore">Read More &gt;</span>
									</div>
								</a>
							</div>
							<div class="news-item">
								<a href="news2.html" target="_blank">
									<div class="news-pic" style="background-image: url(/images/xly.jpg);"></div>
									<div class="news-text">
										<h4 class="news-title">中心接待北京师范大学教育技术学夏令营</h4>
										<p class="news-desc">2018年7月25日，由北京师范大学教育学部教育技术学院主办的夏令营来未来教育高精尖创新中心参观学习，中心分两批次接待了来自全国各高校的60余名教育技术学大三学生。</p>
										<div class="news-date">2018年7月25日</div>
										<span class="readmore">Read More &gt;</span>
									</div>
								</a>
							</div>

							<div class="news-item">
								<a href="news3">
									<div class="news-pic" style="background-image: url(/images/zstp.jpg);"></div>
									<div class="news-text">
										<h4 class="news-title">中心研究人员参加人工智能教育领域多个国际会议</h4>
										<p class="news-desc">6月24-30日，第13届学习科学国际会议（13th International Conference of the Learning Sciences, ICLS）、19届人工智能教育国际会议（19th International Conference on Artificial Intelligence in Education, AIED）、第5届ACM（5th Annual ACM Conference on Learning at Scale, L@S）在英国伦敦举办。高精尖中心人工智能实验室主任卢宇博士、研究员陈鹏鹤博士、助理研究员陈晨，学习科学实验室张立山博士的研究成果被AIED和L@S会议接收并参加会议。</p>
										<div class="news-date">2018年7月1日</div>
										<span class="readmore">Read More &gt;</span>
									</div>
								</a>
							</div>
						</div>
						<div style="text-align: center;">
							<a href="news" target="_blank" class="page7-btn btn-common">查看全部动态</a>
						</div>
					</div>
				</div>
				<!-- footer -->
				<div th:replace="footer::html"></div>
			</div>
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination swiper-pagination-h"></div>
	</div>

	<script type="text/javascript">
    // 判断UA
    $(function () {
        var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        var s;
        (s = ua.match(/rv:([\d.]+)\) like gecko/)) ? Sys.ie = s[1] :
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
        (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
        (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
        (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
        // console.log(s);
        if (Sys.ie){
            // setTimeout(,100);
            Swipie()
        }else{
            // setTimeout(,100);
            Swip()
        }
       
    });

    // 页面内滚动
    function Noscroll(index){
        var $pageNoScrollWr = $('.swiper-wrapper-h').children('.swiper-slide').eq(index);
        var $pageNoScroll = $pageNoScrollWr.find('.page-wr');
        var $pageNoScrollCont = $pageNoScroll.children('.page-content');
        var scrollHeight = $pageNoScrollCont.height()-$pageNoScroll.height();
        if ($pageNoScrollCont.height() > $pageNoScroll.height()) {
            $pageNoScrollWr.addClass("swiper-no-swiping");
        }
        
        var startX;
        var startY;
        $pageNoScroll.on('touchstart',function(){
            startX = event.touches[0].pageX;
            startY = event.touches[0].pageY;
        });

        $pageNoScroll.on("touchmove",function(){
            var x = event.touches[0].pageX;
            var y = event.touches[0].pageY;
            var dx = startX - x;
            var dy = startY - y;
            if(dy < 0){  //上滑
                // console.log('up')
                if($pageNoScroll.scrollTop() == 0){
                   $pageNoScrollWr.removeClass("swiper-no-swiping");
                }
            }

            if(dy > 0){  //下滑
                // console.log('down')
                if($pageNoScroll.scrollTop() == scrollHeight){
                   $pageNoScrollWr.removeClass("swiper-no-swiping");
                }
            }

        });

        $pageNoScroll.scroll(function() {
            // console.log($pageNoScroll.scrollTop(),scrollHeight)
           
            if($pageNoScroll.scrollTop() == 0){
                $pageNoScrollWr.removeClass("swiper-no-swiping");
            }

            if($pageNoScroll.scrollTop() == scrollHeight){
               $pageNoScrollWr.removeClass("swiper-no-swiping");
            }   
            
        });
    }
    
    // 默认swipr
    function Swip(){
        var swiperV = new Swiper('.swiper-container-h',{
            pagination: '.swiper-pagination-h',
            paginationClickable: true,
            slidesPerView: 1,
            mode: 'vertical',
            // touchRatio : 0.5,
            longSwipesRatio : 0,
            mousewheelControl : true,
            mousewheelControlForceToAxis : true,
            keyboardControl : true,
            simulateTouch: false,
            // initialSlide :4,
            noSwiping : true,
            onSlideChangeStart: function(swiper){
                if(!swiper.slides[0].isActive()){
                    //新的slide是活动的
                    // console.log(!swiperV.slides[0].isActive());
                    $('.header').addClass('on');

                } else{
                    $('.header').removeClass('on');
                }

                // console.log(swiperV.activeIndex)
                
                Noscroll(swiperV.activeIndex);
            },
            paginationBulletRender: function (swiper, index, className) {
                return '<span class="' + className + '">' + (index + 1) + '</span>';
            }
        });

        var swiperH = new Swiper('.paper-container-v',{
            pagination: '.paper-pagination-v',
            paginationClickable: true,
            slidesPerView: 3,
            loop:true,
            // centeredSlides: true,
            watchActiveIndex: true,
            initialSlide :1,
            centeredSlides: !0,
            watchSlidesProgress : true
        })

        var swiperS = new Swiper('.paper-container-s',{
            onSlideChangeStart: function(swiper) {
                $(".search-cats .active").removeClass('active');
                $(".search-cats a").eq(swiper.activeLoopIndex).addClass('active');
            }
        });

        $(".search-cats a").on('touchstart mousedown',function(e) {
            e.preventDefault();
            $(".search-cats .active").removeClass('active');
            $(this).addClass('active');
            swiperS.swipeTo( $(this).index() );
        })


                      
          $('.paper-button-prev').on('click', function(e){
            e.preventDefault()
            swiperH.swipePrev()
          })
          $('.paper-button-next').on('click', function(e){
            e.preventDefault()
            swiperH.swipeNext()
          })
          // console.log('新的slide的位置是'+ swiperV.index());
          dotShow();
          loadProperties(); //中英文切换
    }

    // ie专用
    function Swipie(){
        var swiperV = new Swiper('.swiper-container-h',{
            pagination: '.swiper-pagination-h',
            paginationClickable: true,
            slidesPerView: 1,
            mode: 'vertical',
            mousewheelControl : true,
            keyboardControl : true,
            simulateTouch: false,
            onSlideChangeStart: function(){
                if(!swiperV.slides[0].isActive()){
                    //新的slide是活动的
                    // console.log(!swiperV.slides[0].isActive());
                    $('.header').addClass('on');
                }else{
                    $('.header').removeClass('on');
                }

                Noscroll(swiperV.activeIndex);
            }
          })
          var swiperH = new Swiper('.paper-container-v',{
            pagination: '.paper-pagination-v',
            paginationClickable: true,
            slidesPerView: 3,
            loop:true,
            // centeredSlides: true,
            watchActiveIndex: true,
            initialSlide :1,
            centeredSlides: !0,
            watchSlidesProgress : true
        })
                      
          $('.paper-button-prev').on('click', function(e){
            e.preventDefault()
            swiperH.swipePrev()
          })
          $('.paper-button-next').on('click', function(e){
            e.preventDefault()
            swiperH.swipeNext()
          })
          // console.log('新的slide的位置是'+ swiperV.index());
          dotShow();
          loadProperties(); //中英文切换
    }
    </script>
</body>
</html>