<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('members')"></div>

		<div class="banner banner-about">
			<h2>Make AI Everywhere</h2>
		</div>
		<div class="container about-page-wrap">
			<div class="about-desc common-desc">
				<p></p>
				<p></p>
				<p></p>
			</div>
			<div class="about-member">
				<h3>团队成员</h3>
				<div class="member-list">
					<div class="member-item member1 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/ly.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">卢宇</div>
							<div class="member-position">AI Lab主任 北京师范大学教育学部副教授</div>
							<p class="member-desc">简介</p>
						</div>
					</div>

					<div class="member-item member2 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/cph.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">陈鹏鹤</div>
							<div class="member-position">AI Lab副主任</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member3 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/sjc.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">宋佳宸</div>
							<div class="member-position">项目主管</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member4 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/by.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">骈扬</div>
							<div class="member-position">大数据研究助理</div>
							<p class="member-desc">研究方向：大数据分析、数据可视化。</p>
						</div>
					</div>
					
					<div class="member-item member5 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/mqg.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">孟庆钢</div>
							<div class="member-position">助理工程师</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member6 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/kasim.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">Muhammad Qasim MEMON</div>
							<div class="member-position">Postdoctoral fellow</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member7 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/xtq.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">薛天琪</div>
							<div class="member-position">研究助理</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member8 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/xq.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">徐琪</div>
							<div class="member-position">心理学研究助理</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member9 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/dql.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">段庆龙</div>
							<div class="member-position">人工智能助理研究员</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member10 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/zl.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">张莉</div>
							<div class="member-position">项目专员</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					
					<div class="member-item member11 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/ljf.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">刘杰飞</div>
							<div class="member-position">研发工程师</div>
							<p class="member-desc">简介</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>