<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('members')"></div>

		<div class="banner banner-about">
			<h2>Make AI Everywhere</h2>
		</div>
		<div class="container about-page-wrap">
			<div class="about-desc common-desc">
				<p></p>
				<p></p>
				<p></p>
			</div>
			<div class="about-member">
				<h3>领军人物</h3>
				<div class="member-list">
					<div class="member-item member1 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/luyu.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">卢宇</div>
							<div class="member-position">AI Lab 主任</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
					<div class="member-item member2 clearfix">
						<div class="member-pic">
							<a style="background-image: url(/images/cph.jpg);"></a>
						</div>
						<div class="member-con">
							<div class="member-name">陈鹏鹤</div>
							<div class="member-position">大数据研究员</div>
							<p class="member-desc">简介</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>