<html class="pc pagepc" style="font-size: 91.3889px;">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('news')"></div>

		<div class="container">
			<div class="news-details-hd">
				<h3 class="news-title">中心接待北京师范大学教育技术学夏令营</h3>
				<p class="news-athor">北京师范大学未来教育高精尖创新中心</p>
				<div class="news-date">2018年7月25日</div>
			</div>
			<div class="news-details-bd">
				<div class="paper-main news-content">
					<p style="text-indent:2em;">
						<span>2018年7月25日，由北京师范大学教育学部教育技术学院主办的夏令营来未来教育高精尖创新中心参观学习，中心分两批次接待了来自全国各高校的60余名教育技术学大三学生。人工智能实验室主任卢宇博士介绍了教育技术学的发展前沿及中心相关研究进展，鼓励同学们抓住时代机遇勤奋上进，燃起了同学们来北师大教育技术学院求学的极大热情。 行政办公室冀林林介绍了中心成立的背景和主要业务，详细介绍了智慧学伴平台，并带领同学们体验了智慧钢琴。人工智能实验室薛天琪以翻转课堂教学模式学习为例，生动地演示了智慧学伴机器人，使同学们在欢声笑语中受益良多。</span></p>
					<p style="text-indent:2em;">
					<p style="text-align: center;"><img src="/images/news2-1.jpg" alt=""></p>
					<p style="text-indent:2em;">
					<p style="text-align: center;"><img src="/images/news2-2.jpg" alt=""></p>
					<p style="text-indent:2em;">
					<p style="text-align: center;"><img src="/images/news2-3.jpg" alt=""></p>
					<p style="text-indent:2em;">
					<p style="text-align: center;"><img src="/images/news2-4.jpg" alt=""></p>
					<p style="text-indent:2em;">
					
				</div>
				<ul class="paper-num">
				</ul>
			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>