<html class="pc pagepc" style="font-size: 91.3889px;">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('news')"></div>

		<div class="container">
			<div class="news-details-hd">
				<h3 class="news-title">中心研究人员参加人工智能教育领域多个国际会议</h3>
				<p class="news-athor">北京师范大学未来教育高精尖创新中心</p>
				<div class="news-date">2018年7月1日</div>
			</div>
			<div class="news-details-bd">
				<div class="paper-main news-content">
					<p style="text-indent:2em;">
						<span>6月24-30日，第13届学习科学国际会议（13th International Conference of the Learning Sciences, ICLS）、19届人工智能教育国际会议（19th International Conference on Artificial Intelligence in Education, AIED）、第5届ACM（5th Annual ACM Conference on Learning at Scale, L@S）在英国伦敦举办。高精尖中心人工智能实验室主任卢宇博士、研究员陈鹏鹤博士、助理研究员陈晨，学习科学实验室张立山博士的研究成果被AIED和L@S会议接收并参加会议。</span>
					<p style="text-indent:2em;">
					
					<span> 会上卢宇博士介绍了基于SDT（Self-determination Theory）动机理论的教育机器人设计原则及语音问答、知识图谱、情感识别等技术的应用，展示了学习场景下机器人应用的视频，引起了与会嘉宾的强烈兴趣，并在会后与研究团队展开深入交流。</span>
					<p style="text-indent:2em;">
					
					<p style="text-align: center;"><img src="/images/news3-1.png" alt=""></p>
					<p style="text-align:center">卢宇博士介绍中心工作</p>
					<p style="text-indent:2em;">
					
					<p style="text-align: center;"><img src="/images/news3-3.jpg" alt=""></p>
					
					<p style="text-align:center">与会者认真观看研究海报与交流</p>
					<p style="text-indent:2em;">
					
					<span> 陈鹏鹤博士在会议中分享了中心关于中小学知识图谱构建的研究： An Automatic Knowledge Graph Construction System for K-12 Education 。陈博士主要介绍了基于CRF概率图模型的知识点识别算法与基于概率关联规则挖掘的知识关系识别模型，以及以数学学科为例构建的学科知识图谱。许多参会的研究学者对教育知识图谱方面非常感兴趣，并与陈博士进行了深入的交流与探讨。</span>
					<p style="text-indent:2em;">
					
					<p style="text-align: center;"><img src="/images/news3-4.jpg" alt=""></p>
					<p style="text-align:center">人工智能实验室陈鹏鹤博士介绍知识图谱研究</p>
					<p style="text-indent:2em;">
					
					<span>张立山博士向与会者介绍了关于深度自动编码机（Deep Autoencoder）在中文短文本答案评分中的应用以及所面临的挑战，并进行了相应的poster展示。</span>
					<p style="text-indent:2em;">
					
					<p style="text-align: center;"><img src="/images/news3-5.jpg" alt=""></p>
					<p style="text-align:center">学习科学实验室张立山博士介绍中文短文本评分研究</p>
					<p style="text-indent:2em;">
					
					<span>此外，卢宇博士受邀参加了AIED 组织的Workshop: Artifical Intelligence to Promote Quality and Equity in Education（利用人工智能提升教育质量与公平）， 在专题讨论环节中与来自高校、工业界、投资界的人士分享了中心利用智慧学伴和双师平台促进教育质量与公平的案例，并与嘉宾和观众进行了相关话题的深入讨论。</span>
					<p style="text-indent:2em;">
					
					<p style="text-align: center;"><img src="/images/news3-6.jpg" alt=""></p>
					<p style="text-align:center">卢宇博士参与专题讨论</p>
					<p style="text-indent:2em;">
					
					<span>在本次Learning Festival的国际会议上，中心在人工智能教育应用领域的研究成果得到了国际了解认可，同时科研人员学习了国际前沿的研究动态和趋势，这将促进中心在“人工智能+教育”方面的学术研究，同时有利于进一步开展国际合作研究。</span>
					<p style="text-indent:2em;">
					
					
				</div>
				<ul class="paper-num">
				</ul>
			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>