<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body class="lang-cn" style="">
	<div
		style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/share.png"
			alt="Wechat Share Thumbnail">
	</div>
	<!--[if lt IE 10]><body id="lt-ie10"><![endif]-->




	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('news')"></div>

		<div class="container">
			<div class="news-page-title news-title-common">新闻</div>
			<div class="news-cats clearfix" style="display: none;">
				<div class="news-cats-item">
					<a href="" class="news-selected-cat">All Areas </a>
					<i class="icon-arrow"></i>
					<ul class="news-dropdown">

						<li>
							<a href="">Areas Section 1</a>
						</li>

						<li>
							<a href="">Areas Section 2</a>
						</li>

						<li>
							<a href="">Areas Section 3</a>
						</li>

						<li>
							<a href="">Areas Section 4</a>
						</li>

						<li>
							<a href="">Areas Section 5</a>
						</li>

						<li>
							<a href="">Areas Section 6</a>
						</li>

						<li>
							<a href="">Areas Section 7</a>
						</li>

					</ul>
				</div>
				<div class="news-cats-item">
					<a href="" class="news-selected-cat">All Years</a>
					<i class="icon-arrow"></i>
					<ul class="news-dropdown">

						<li>
							<a href="">Year Section 1</a>
						</li>

						<li>
							<a href="">Year Section 2</a>
						</li>

						<li>
							<a href="">Year Section 3</a>
						</li>

						<li>
							<a href="">Year Section 4</a>
						</li>

						<li>
							<a href="">Year Section 5</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="news-list clearfix">
				<div class="news-item">
					<a href="news1">
						<div class="news-pic"
							style="background-image: url(/images/salt_lake_city_7.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">CVPR 2018 | 腾讯AI Lab入选21篇论文详解</h4>
							<p class="news-desc">近十年来在国际计算机视觉领域最具影响力、研究内容最全面的顶级学术会议CVPR，近日揭晓2018年收录论文名单，腾讯AI
								Lab共有21篇论文入选，位居国内企业前列，我们将在下文进行详解，欢迎交流与讨论。…</p>
							<div class="news-date">2018年3月21日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="//ai.tencent.com/ailab/news13.html">
						<div class="news-pic"
							style="background-image: url(/images/1529056672856983.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">腾讯AI Lab发布三大核心战略，与自然科研达成战略合作</h4>
							<p class="news-desc">3月15日，腾讯AI
								Lab第二届学术论坛在深圳举行，聚焦人工智能在医疗、游戏、多媒体内容、人机交互等四大领域的跨界研究与应用。全球30位顶级AI专家出席，对多项前沿研究成果进行了深入探讨与交流。…</p>
							<div class="news-date">2018年3月15日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="//ai.tencent.com/ailab/news12.html">
						<div class="news-pic"
							style="background-image: url(/ailab_op/ueditor/php/upload/image/20180110/1515553766640554.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">腾讯 AI Lab 主任张潼博士：机器学习里的优化问题</h4>
							<p class="news-desc">日前，在中国运筹学会的闭门会议——现代运筹学发展讨论会上，腾讯 AI
								Lab（腾讯人工智能实验室）主任张潼博士发表了精彩演说。作为机器学习领域的知名学者，他开场表示，机器学习和运筹优化有很多的共同问题。接下来，他详细介绍了机器学习领域中优化的进展，以及大家比较感兴趣的研究课题。在演讲的最后，他表示，运筹优化的研究人员可以和机器学习研究人员多多交流，大家共同合作，共同促进。…</p>
							<div class="news-date">2018年1月9日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>
				<div class="news-item">
					<a href="//ai.tencent.com/ailab/news11.html">
						<div class="news-pic"
							style="background-image: url(/ailab_op/ueditor/php/upload/image/20171211/1512961612861132.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">夺冠 | 腾讯围棋AI「绝艺」再次问鼎龙星战</h4>
							<p class="news-desc">12月10日，腾讯AI
								Lab围棋AI“绝艺”在东京举办的2017围棋AI龙星战（AI
								RYUSEI）决赛夺冠，以平稳表现相继战胜DeepZenGo、MayoiGo、Raynz和AQ等国际领先的AI。 …</p>
							<div class="news-date">2017年12月10日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>
				<div class="news-item">
					<a href="腾讯总裁刘炽平：人工智能具有战略意义，加码投入不急于短期回报.html">
						<div class="news-pic"
							style="background-image: url(/ailab_op/ueditor/php/upload/image/20170908/1504838569499453.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">腾讯总裁刘炽平：人工智能具有战略意义，加码投入不急于短期回报</h4>
							<p class="news-desc">8月16日，腾讯在盘后公布2017年第二季度及中期业绩，公司2017年上半年总收入同比增长57%达到人民币1061.58亿元，按非通用会计准则的净利润同比增长43%达到人民币308.59亿元。腾讯总裁刘炽平强调，人工智能具有战略意义，并表示公司会持续进行长期投资，以加强在机器学习、计算机视觉、语音识别及自然语言处理等领域的技术能力，助力业务发展。…</p>
							<div class="news-date">2017年8月16日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="腾讯任命俞栋博士为AI_Lab副主任，并成立西雅图AI实验室.html">
						<div class="news-pic"
							style="background-image: url(/ailab_op/ueditor/php/upload/image/20170908/1504853384412529.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">腾讯任命俞栋博士为AI Lab副主任，并成立西雅图AI实验室</h4>
							<p class="news-desc">2017年5月2日，腾讯宣布任命语音识别技术顶级专家俞栋博士为AI
								Lab（人工智能实验室）副主任，并成立美国西雅图AI实验室。俞栋博士将负责西雅图AI实验室的运营及管理，推动腾讯在语音识别及自然语言理解等AI领域的基础研究。…</p>
							<div class="news-date">2017年5月2日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="腾讯任命张潼博士为AI-Lab主任.html">
						<div class="news-pic"
							style="background-image: url(/ailab_op/ueditor/php/upload/image/20170328/1490692273935046.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">腾讯任命张潼博士为AI Lab主任</h4>
							<p class="news-desc">2017年3月23日，腾讯宣布任命人工智能领域顶尖科学家张潼博士担任腾讯AI
								Lab（腾讯人工智能实验室）主任。张潼博士将作为腾讯AI
								Lab第一负责人，带领50余位AI科学家及200多位AI应用工程师团队，专注于人工智能的基础研究，主要包括计算机视觉、语音识别、自然语言处理和机器学习这四个垂直领域。…</p>
							<div class="news-date">2017年3月23日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="再创佳绩腾讯围棋AI“绝艺”电圣战夺冠.html">
						<div class="news-pic"
							style="background-image: url(/ailab_op/ueditor/php/upload/image/20170401/1491015036186936.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">再创佳绩！腾讯围棋AI“绝艺”电圣战夺冠</h4>
							<p class="news-desc">腾讯AI
								Lab（腾讯人工智能实验室）研发的围棋人工智能“绝艺”执黑中盘战胜了日本新锐棋手一力辽七段，获得冠军。…</p>
							<div class="news-date">2017年3月26日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="腾讯“绝艺”斩获UEC杯计算机围棋大赛冠军.html">
						<div class="news-pic"
							style="background-image: url(/ailab_op/ueditor/php/upload/image/20170329/1490752939510574.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">腾讯“绝艺”斩获UEC杯计算机围棋大赛冠军</h4>
							<p class="news-desc">第10届UEC杯计算机围棋大赛3月19日在东京落幕，腾讯AI
								Lab（腾讯人工智能实验室）研发的围棋人工智能程序“绝艺”（Fine
								Art）首次参加比赛便一路过关斩将，继18日的积分赛七连胜进入16强后，今天决赛又四连胜战绩夺得本届UEC杯冠军，日本“DeepZenGo”获亚军。3月26日，“绝艺”还将在东京与日本著名新锐棋手一力辽在“电圣战”中进行人机对弈。…</p>
							<div class="news-date">2017年3月26日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>


				<div class="news-item">
					<a href="news1.html">
						<div class="news-pic"
							style="background-image: url(./../upload/image/20170314/1489452602777954.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">哈工大-腾讯联合实验室亮相国际学术会议COLING 2016</h4>
							<p class="news-desc">第26届国际计算语言学会议（The 26th International
								Conference on Computational Linguistics，COLING
								2016）于2016年12月11-16日在日本大阪召开。COLING 是自然语言处理和计算语言学领域的重要国际会议…</p>
							<div class="news-date">2016年12月8日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>
				<!-- 
            <div class="news-item" style="display:none;">
                <a href="news2.html">
                    <div class="news-pic" style="background-image: url(./../upload/image/20170314/1489454066442598.png);"></div>
                    <div class="news-text">
                        <h4 class="news-title">腾讯AI平台孟凡东COLING 2016论文报告摘要</h4>
                        <p class="news-desc">国际计算语言学会议（International Conference on Computational Linguistics，简称COLING），是自然语言处理和计算语言学领域的重要国际学术会议，每两年召开一次。本次是第26届国际计算语言学会议（即COLING-2016）于12.11-12.16日在日本大阪举行。…</p>
                        <div class="news-date">2016年12月</div>
                        <span class="readmore">Read More ></span>
                    </div>
                </a>
            </div>
        -->


				<div class="news-item">
					<a href="news3.html">
						<div class="news-pic"
							style="background-image: url(./../upload/image/20170314/1489454585486935.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">AI Lab：实时视频风格转换是怎样练成的</h4>
							<p class="news-desc">在本次SIGGRAPH ASIA 2016的exhibitor
								talk中，腾讯AI
								LAB展示了他们最新的视频艺术滤镜成果。他们通过训练一个深度前向神经网络学习了如何将视频的每一帧都转换成指定的艺术风格，同时还保持了视频帧与帧之间的一致性。…</p>
							<div class="news-date">2016年12月13日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="news4.html">
						<div class="news-pic"
							style="background-image: url(images/news2.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">中国互联网巨头加入人工智能竞赛</h4>
							<p class="news-desc">作为中国领先的科技公司之一，腾讯正在创建人工智能实验室。这很可能与已经投入人工智能领域研发的公司诸如谷歌、脸书、百度、亚马逊等形成正面交锋。…</p>
							<div class="news-date">2016年12月8日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>




			</div>
			<div class="page-navigation" style="display: none;">
				<a href="" class="active">1</a>

				<a href="">2</a>

				<a href="">3</a>

				<a href="">4</a>

				<a href="">5</a>

				<a href="">6</a>

				<a href="">7</a>

				<a href="">8</a>

			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>

	<script>
	(function(doc, win) {
		var docEl = doc.documentElement,
			resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
			recalc = function () {
				var designWidth  = 1920; // 设计稿宽度
				var designHeight = 1080; // 设计稿高度
				var maxWidth     = 1920; // 设计稿最大宽度
				var maxHeight    = 1080; // 设计稿最大高度
				var clientWidth  = docEl.clientWidth;
				var clientHeight = docEl.clientHeight;
				var baseFontSize = 100; // 根元素基准字体大小
				if ( (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
					//移动端
					docEl.setAttribute("class", "m"); 
					baseFontSize = 256; // 根元素基准字体大小
					console.log('m');
				} else {
					//PC端
					docEl.setAttribute("class", "pc pagepc");
					baseFontSize = 100; // 根元素基准字体大小
					console.log('pc');
				}

				if (!clientWidth) return;
				if (clientWidth / clientHeight > designWidth / designHeight) {
					if (clientHeight <= maxHeight) {
						docEl.style.fontSize = clientHeight / designHeight * baseFontSize + "px";
					} else {
						docEl.style.fontSize = maxHeight / designHeight * baseFontSize + "px";
					}
				} else {
					if (clientWidth <= maxWidth) {
						docEl.style.fontSize = clientWidth / designWidth * baseFontSize + "px";
					} else {
						docEl.style.fontSize = maxWidth / designWidth * baseFontSize + "px";
					}
				}
			};

		// Abort if browser does not support addEventListener
		if (!doc.addEventListener) return;
		win.addEventListener(resizeEvt, recalc, false);
		doc.addEventListener('DOMContentLoaded', recalc, false);
	})(document, window);

	$(document).ready(function(){
		loadProperties();
	});

	</script>





		<script>
		// 新闻分类筛选
		$(document).on('click','.news-cats-item',function(){
			$('.news-cats-item').removeClass('active');
			var $this = $(this);
			if($this.hasClass('active')){
				$this.removeClass('active');
			} else{
				$this.addClass('active');
			}
			$(document).on('click',function(){
				$this.removeClass('active');
			});
			return false;
		});

		$(document).on('click','.news-dropdown li a',function(e){
			var $this = $(this);
			var $item = $this.parents('.news-cats-item');
			var $select = $item.find('.news-selected-cat');
			$select.text($this.text());
			$item.removeClass('active');
			return false;
		});

	</script>
</body>
</html>