<html class="pc pagepc" style="font-size: 91.3889px;">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('news')"></div>

		<div class="container">
			<div class="news-details-hd">
				<h3 class="news-title">北京师范大学校长董奇教授莅临中心2018年年中工作总结暨表彰大会并作重要致辞</h3>
				<p class="news-athor">北京师范大学未来教育高精尖创新中心</p>
				<div class="news-date">2018年8月3日</div>
			</div>
			<div class="news-details-bd">
				<div class="paper-main news-content">
					<p style="text-indent:2em;">
						<span>为加强中心各部之间的工作交流与进步，提升团队凝聚力，中心于2018年8月3日在京师学堂召开2018年中工作总结暨表彰大会。其中，北京师范大学校长、中心主任董奇教授，中心执行主任余胜泉教授，学习科学实验室主任李葆萍，融合应用实验室主任陈玲，人工智能实验室主任卢宇，智能平台实验室主任高梦楠，学科教育实验室常务主任李晓庆，行政办公室主任李晓琴及中心130余位员工出席，智能平台实验室李悦老师、学科教育实验室邵搏宇老师担任主持。</span></p>
					<p style="text-indent:2em;">
						<span>首先，中心主任董奇教授对中心发展作重要指示。董奇教授指出，中心所作之事，在全国基础教育领域有着巨大需求，中心智能教育平台已经搭建，当务之重是解决教师教学效果问题。在传统学习与教学模式的思维定式下，师生群体面对新技术应用的态度、能力、经验各不一样。如何让师生愉快地接受并高效地掌握平台特色，是我们研究的重点。当然，在政策与配套资源上，学校根据实际情况，予以支持并做出相应调整，在新校区打造“教育的硅谷”、“教育的黄埔军校”过程中，期望高精尖中心发挥出亮眼的风采。</span></p>
					<p style="text-align: center;"><img src="/images/nzzjdh1.jpg" alt=""></p>
					<p style="text-indent:2em;">
						<span>接着，中心六大职能部门依次完成2018年中工作汇报。人工智能实验室主任卢宇从研究与开发、国内外合作与交流、学术成果等方面进行汇报。智能平台实验室主任高梦楠围绕部门员工概况、核心工作、工作进展、团队建设、工作建设等五大方面让员工更加了解其部门工作。学科教育实验室常务主任李晓庆老师聚焦部门核心业务重点展示了上半年区域项目、学科项目、智慧学伴研发设计、对外合作交流等工作进展。融合应用实验室主任陈玲带领其团队就双师服务、课题指导、精准教育、教育扶贫、中国好老师五大项目进行汇报。行政办公室主任李晓琴公布了中心上半年的人事、财务、项目、资产等管理情况及重要的活动与宣传工作，并围绕部门核心业务作出下一步工作计划。</span></p>
				</div>
				<ul class="paper-num">
				</ul>
			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>