<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body class="lang-cn" style="">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('news')"></div>

		<div class="container">
			<div class="news-page-title news-title-common">新闻</div>
			<div class="news-list clearfix">
				<div class="news-item">
					<a href="news1">
						<div class="news-pic"
							style="background-image: url(/images/dongqi.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">2018年年中工作总结</h4>
							<p class="news-desc">
								为加强中心各部之间的工作交流与进步，提升团队凝聚力，中心于2018年8月3日在京师学堂召开2018年中工作总结暨表彰大会。</p>
							<div class="news-date">2018年8月3日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="//ai.tencent.com/ailab/news13.html">
						<div class="news-pic"
							style="background-image: url(/images/xly.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">中心接待北京师范大学教育技术学夏令营</h4>
							<p class="news-desc">2018年7月25日，由北京师范大学教育学部教育技术学院主办的夏令营来未来教育高精尖创新中心参观学习，中心分两批次接待了来自全国各高校的60余名教育技术学大三学生。</p>
							<div class="news-date">2018年7月25日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>