<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body class="lang-cn" style="">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('news')"></div>

		<div class="container">
			<div class="news-page-title news-title-common">新闻</div>
			<div class="news-list clearfix">
				<div class="news-item">
					<a href="news1">
						<div class="news-pic"
							style="background-image: url(/images/dongqi.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">2018年年中工作总结</h4>
							<p class="news-desc">
								为加强中心各部之间的工作交流与进步，提升团队凝聚力，中心于2018年8月3日在京师学堂召开2018年中工作总结暨表彰大会。</p>
							<div class="news-date">2018年8月3日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>

				<div class="news-item">
					<a href="//ai.tencent.com/ailab/news13.html">
						<div class="news-pic"
							style="background-image: url(/images/1529056672856983.jpg);"></div>
						<div class="news-text">
							<h4 class="news-title">腾讯AI Lab发布三大核心战略，与自然科研达成战略合作</h4>
							<p class="news-desc">3月15日，腾讯AI
								Lab第二届学术论坛在深圳举行，聚焦人工智能在医疗、游戏、多媒体内容、人机交互等四大领域的跨界研究与应用。全球30位顶级AI专家出席，对多项前沿研究成果进行了深入探讨与交流。…</p>
							<div class="news-date">2018年8月3日</div>
							<span class="readmore">Read More &gt;</span>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>