<html class="pc" style="font-size: 91.3889px;">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<div th:replace="header::header('papers')"></div>

		<div class="container">
			<div class="paper-title">
				KnowEdu: A System to Construct Knowledge Graph for Education
			</div>
			
			<a href="/download/papers/IEEE-Access_2018.pdf">
				<div class="pagep-btn btn-common"> download </div>
			</a>
			
			<div class="paper-content">
				<div class="paper-main">
					<div class="paper-side">
						<div class="row">
							<div class="mod-tit">Venue</div>
							<div class="mod-text">2018 IEEE Access</div>
						</div>
						<div class="row">
							<div class="mod-tit">Authors</div>
							<div class="mod-text">
								PENGHE CHEN, YU LU, VINCENT W. ZHENG, XIYANG CHEN, BODA YANG</div> 
						</div>
					</div>
					<div class="head">
						<span class="mod-tit">Abstract</span>
					</div>
					<div class="content">
						<p>Motivated by the vast applications of knowledge graph and the increasing demand in
							education domain, we propose a system, called KnowEdu, to automatically construct knowledge graph
							for education. By leveraging on heterogeneous data (e.g., pedagogical data and learning assessment data)
							from the education domain, this system first extracts the concepts of subjects or courses and then identifies
							the educational relations between the concepts.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>