<html class="pc" style="font-size: 91.3889px;">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<div th:replace="header::header('papers')"></div>

		<div class="container">
			<div class="paper-title">
				Smart Learning Partner: An Interactive Robot for Education
			</div>
			
			<a href="/download/papers/AIED_2018.pdf">
				<div class="pagep-btn btn-common"> download </div>
			</a>
			
			<div class="paper-content">
				<div class="paper-main">
					<div class="paper-side">
						<div class="row">
							<div class="mod-tit">Venue</div>
							<div class="mod-text">AIED 2018</div>
						</div>
						<div class="row">
							<div class="mod-tit">Authors</div>
							<div class="mod-text">
								Yu LU, Chen CHEN, Penghe CHEN, Xiyang CHEN, and Zijun ZHUANG</div> 
						</div>
					</div>
					<div class="head">
						<span class="mod-tit">Abstract</span>
					</div>
					<div class="content">
						<p>Driven by the latest technologies in artificial intelligence (e.g., natural language processing 
						and emotion recognition), we design	a novel robot system, called smart learning partner, to provide 
						a more pleasurable learning experience and better motivate learners. The self-determination	theory 
						is used as the guideline to design its human-robot interaction. The large-scale deployment of SLP 
						in local schools and families would bring both research and commercial opportunities.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>