<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('papers')"></div>

		<div class="container">
			<div class="paper-title paper-list-tit">论文</div>
			<div class="paper-content">
				<div class="paper-main">
					<!--新的论文-->
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="paper1">KnowEdu: A System to Construct Knowledge Graph for Education</a>
						</h3>
						<p class="paper-list-desc">
							Motivated by the vast applications of knowledge graph and the increasing demand in
							education domain, we propose a system, called KnowEdu, to automatically construct knowledge graph
							for education. By leveraging on heterogeneous data (e.g., pedagogical data and learning assessment data)
							from the education domain, this system first extracts the concepts of subjects or courses and then identifies
							the educational relations between the concepts.</p>
						<span class="paper-list-infor">2018 IEEE Access·2018</span>
					</div>
				</div>
			</div>
			<div class="page-navigation" style="display: none">
				<a href="javascript:;" class="active">1</a>
				<a href="javascript:;" class="">2</a>
				<a href="javascript:;" class="">3</a>
				<a href="javascript:;" class="">4</a>
				<a href="javascript:;" class="">5</a>
				<a href="javascript:;" class="">6</a>
				<a href="javascript:;" class="">7</a>
				<a href="javascript:;" class="">8</a>
				<a href="javascript:;" class="">9</a>
				<a href="javascript:;" class="">10</a>
				<a href="javascript:;" class="">11</a>
				<a href="javascript:;" class="">12</a>
				<a href="javascript:;" class="">13</a>
				<a href="javascript:;" class="">14</a>
			</div>
		</div>
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>