<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('papers')"></div>

		<div class="container">
			<div class="paper-title paper-list-tit">论文</div>
			<div class="paper-content">
				<div class="paper-main">
					<!--新的论文-->
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="paper1">KnowEdu: A System to Construct Knowledge Graph for Education</a>
						</h3>
						<p class="paper-list-desc">
							Motivated by the vast applications of knowledge graph and the increasing demand in
							education domain, we propose a system, called KnowEdu, to automatically construct knowledge graph
							for education. By leveraging on heterogeneous data (e.g., pedagogical data and learning assessment data)
							from the education domain, this system first extracts the concepts of subjects or courses and then identifies
							the educational relations between the concepts.</p>
						<span class="paper-list-infor">2018 IEEE Access</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="paper2">Smart Learning Partner: An Interactive Robot for Education</a>
						</h3>
						<p class="paper-list-desc">
							Driven by the latest technologies in artificial intelligence (e.g., natural language processing 
							and emotion recognition), we design	a novel robot system, called smart learning partner, to provide 
							a more pleasurable learning experience and better motivate learners. The self-determination	theory 
							is used as the guideline to design its human-robot interaction. The large-scale deployment of SLP 
							in local schools and families would bring both research and commercial opportunities.</p>
						<span class="paper-list-infor">AIED 2018</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="paper3">A Framework for Learning Analytics Using Commodity Wearable Devices</a>
						</h3>
						<p class="paper-list-desc">
							We advocate for and introduce LEARNSense, a framework for learning analytics using commodity wearable devices to capture learner’s physical actions and accordingly infer learner
							context (e.g., student activities and engagement status in class). Our work is motivated by the observations that: (a) the fine-grained individual-specific learner actions are crucial to understand
							learners and their context information; (b) sensor data available on the latest wearable devices (e.g., wrist-worn and eye wear devices) can effectively recognize learner actions and help to infer
							learner context information; (c) the commodity wearable devices that are widely available on the market can provide a hassle-free and non-intrusive solution. Following the above observations and
							under the proposed framework, we design and implement a sensor-based learner context collector running on the wearable devices. The latest data mining and sensor data processing techniques
							are employed to detect different types of learner actions and context information. Furthermore, we detail all of the above efforts by offering a novel and exemplary use case: it successfully provides the
							accurate detection of student actions and infers the student engagement states in class. The specifically designed learner context collector has been implemented on the commodity wrist-worn device. Based 
							on the collected and inferred learner information, the novel intervention and incentivizing feedback are introduced into the system service. Finally, a comprehensive evaluation with the real-world experiments, surveys and interviews demonstrates the effectiveness and impact of the proposed framework and this use case. The F1 score for the student action classification tasks achieve 0.9, and the system can effectively differentiate the defined three learner states. Finally, the survey results show that the learners are satisfied with the use of our system (mean score of 3.7 with a standard deviation of 0.55).</p>
						</p>
						<span class="paper-list-infor">2017 Sensors</span>
					</div>
					
					
					<div class="paper-list-item">
						<h3 class="paper-list-title">
							<a
								href="">Prerequisite-Driven Deep Knowledge Tracing</a>
						</h3>
						<p class="paper-list-desc"></p>
						<span class="paper-list-infor">ICDM 2018</span>
					</div>
					
					
					
					
				</div>
			</div>
			<div class="page-navigation" style="display: none">
				<a href="javascript:;" class="active">1</a>
				<a href="javascript:;" class="">2</a>
				<a href="javascript:;" class="">3</a>
				<a href="javascript:;" class="">4</a>
				<a href="javascript:;" class="">5</a>
				<a href="javascript:;" class="">6</a>
				<a href="javascript:;" class="">7</a>
				<a href="javascript:;" class="">8</a>
				<a href="javascript:;" class="">9</a>
				<a href="javascript:;" class="">10</a>
				<a href="javascript:;" class="">11</a>
				<a href="javascript:;" class="">12</a>
				<a href="javascript:;" class="">13</a>
				<a href="javascript:;" class="">14</a>
			</div>
		</div>
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>