<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('recruit')"></div>

		<div class="banner banner-recruit">
			<h2>加入我们</h2>
		</div>
		
		<div class="container">
			<div class="recruit-list">
				<div class="recruit-item">
					
				</div>
	
			</div>	
		</div>


		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>