<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<div style="position: absolute; opacity: 0; z-index: -1; width: 0; height: 0; overflow: hidden;">
		<img id="mzsharethumbnail"
			src="https://ai.tencent.com/ailab/images/share.png"
			alt="Wechat Share Thumbnail">
	</div>
	<!--[if lt IE 10]><body id="lt-ie10"><![endif]-->

	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('recruit')"></div>

		<div class="banner banner-recruit">
			<h2>伟大愿景，需要卓越的您</h2>
		</div>
		<div class="container">

			<!--
    <div class="recruit-item">
        <h3 class="recruit-tit">机器学习研究员</h3>
        <div class="recruit-infor">工作地点：深圳 <span>招聘人数：4名</span></div>
        <div class="recruit-desc">
            <h4>工作职责：</h4>
            <div class="recruit-text">1、负责机器学习、深度学习领域的技术研发工作，包括但不限于神经网络模型设计与优化、强化学习、迁移学习、主动学习、维度降低、核方法、谱方法、特征提取与稀疏学习、等级学习、推荐、随机优化等的算法和系统研发；<br>2、对计算机视觉、语音识别、自然语言处理等领域提供模型支持；<br>3、负责机器学习尤其是深度学习前沿问题的探索与研究，结合未来实际应用场景，提供全面的技术解决方案。</div>
            <h4>工作要求：</h4>
            <div class="recruit-text">1、全球顶级名校计算机视觉、机器学习、人工智能、数据挖掘、信息检索、自然语言处理、语音识别等领域的计算机科学、电子工程或其它人工智能相关专业博士；<br>2、有机器学习、人工智能、计算机视觉、自然语言处理、机器翻译、语音识别等领域全球领先企业的工作经验；<br>3、精通至少一种编程语言，包括但不限于Java、C/C++、C#、Python等；<br>4、在计算机科学顶级会议和期刊如NIPS、ICML、COLT、CVPR、ICCV、ECCV、IJCAI、AAAI、UAI、KDD、SIGIR、WWW、ACL、PAMI、IJCV、JMLR、AIJ等发表过论文，有深度学习学术或工程项目经验者优先考虑。</div>
        </div>   
	</div>
		-->

			<div class="recruit-item">
				<h3 class="recruit-tit">计算机视觉研究员</h3>
				<div class="recruit-infor">工作地点：深圳</div>
				<div class="recruit-desc">
					<h4>工作职责：</h4>
					<div class="recruit-text">
						1、负责计算机视觉相关的技术研发工作，包括但不限于人脸检测与识别，物体检测、跟踪与分类，图像视频分析、理解与搜索，图像质量评价，图像视频处理，3D视觉等；
						<br>
						2、负责计算机视觉方向前沿问题的探索与研究，结合未来实际应用场景，提供全面的技术解决方案。
					</div>

				</div>
				<!--        <a href="//hr.tencent.com/position_detail.php?id=31393&keywords=研究员&tid=0&lid=0" target="_blank" class="btn-common">申请职位</a>-->
			</div>

			<div class="recruit-item">
				<h3 class="recruit-tit">语音识别 / 合成研究员</h3>
				<div class="recruit-infor">工作地点：深圳 / 北京/ 西雅图</div>
				<div class="recruit-desc">
					<h4>工作职责：</h4>
					<div class="recruit-text">
						1、负责语音识别/合成方向的技术研发工作，包括但不限于语音前端处理、声学模型/语言模型的建立、语言解码、语音合成(TTS)等；
						<br>
						2、负责语音识别/合成方向前沿问题的探索与研究，结合未来实际应用场景，提供全面的技术解决方案。
					</div>

				</div>
				<!--        <a href="//hr.tencent.com/position_detail.php?id=31395&keywords=研究员&tid=0&lid=0" target="_blank" class="btn-common">申请职位</a>-->
			</div>
			<div class="recruit-item">
				<h3 class="recruit-tit">自然语言处理研究员</h3>
				<div class="recruit-infor">工作地点：深圳 / 西雅图</div>
				<div class="recruit-desc">
					<h4>工作职责：</h4>
					<div class="recruit-text">
						1、负责NLP方向的技术研发工作，包括但不限于词法分析、自动对话、语义挖掘和语言逻辑等。
						<br>
						2、负责NLP前沿问题的探索与研究，结合未来实际应用场景，提供全面的技术解决方案。
					</div>

				</div>
				<!--        <a href="//hr.tencent.com/position_detail.php?id=31394&keywords=TEG17&tid=0&lid=0" target="_blank" class="btn-common">申请职位</a>-->
			</div>

			<div class="recruit-item">
				<h3 class="recruit-tit">机器学习研究员</h3>
				<div class="recruit-infor">工作地点：深圳 / 西雅图</div>
				<div class="recruit-desc">
					<h4>工作职责：</h4>
					<div class="recruit-text">
						1、负责机器学习（尤其是深度学习领域）的理论研究和算法、模型开发，包括但不限于：神经网络模型设计，元学习，自动超参数优化，在线学习和各种优化方法尝试。
						<br>
						2、对业界经典算法和模型进行分布式版本开发，实现加速，丰富公司内部的公用并行算法库。
						<br>
						3、对机器学习尤其是深度学习、元学习等前沿问题进行探索与研究，结合未来实际应用场景，提供全面的技术解决方案。
						<br>
						4、对计算机视觉、语音识别、自然语言处理等领域提供模型支持，进行创新研究和落地产品开发。
					</div>

				</div>
				<!--        <a href="//hr.tencent.com/position_detail.php?id=31394&keywords=TEG17&tid=0&lid=0" target="_blank" class="btn-common">申请职位</a>-->
			</div>

			<div class="recruit-item">
				<h3 class="recruit-tit">医疗AI 实习生</h3>
				<div class="recruit-infor">工作地点：深圳</div>
				<div class="recruit-desc">
					<h4>工作职责：</h4>
					<div class="recruit-text">
						1、医疗影像算法开发，包含筛查、分类、分割、诊断、预测等。
						<br>
						2、跟踪业界算法技术最新进展, 并能快速应用到业务中。
						<br>
						3、结合医疗中各种应用场景和客户需求，进行算法设计和产品化。
						<br>
					</div>
					<h4>工作要求：</h4>
					<div class="recruit-text">
						1、有计算机视觉，图像处理，机器学习领域经验。
						<br>
						2、熟悉深度学习，有深度学习解决计算机视觉问题的经验。有医学图像的项目经验优先。
						<br>
						3、熟悉python或c/c++编程。
						<br>
						4、团队合作, 沟通能力佳。
						<br>
						5、计算机相关学科博士或硕士生。
					</div>
					<br>
					<br>
					<br>
					<h3 class="recruit-tit">我们正在寻找这样的你加入：</h3>
					<h3>
						1、
						全球顶级名校计算机视觉、机器学习、数据挖掘、信息检索、自然语言处理、语音识别/合成等领域的计算机科学、电子工程或其它人工智能相关专业博士；
						<br>
						2、 有机器学习、计算机视觉、自然语言处理、机器翻译、语音识别/合成等人工智能领域全球领先企业的工作经验；
						<br>
						3、 精通至少一种编程语言，包括但不限于Java、C/C++、C#、Python等；
						<br>
						4、
						在计算机科学顶级会议和期刊如NIPS、ICML、COLT、CVPR、ICCV、ECCV、IJCAI、AAAI、UAI、KDD、SIGIR、WWW、ACL、PAMI、IJCV、JMLR、AIJ等发表过论文，有深度学习学术或工程项目经验者优先考虑。
					</h3>
					<h4 style="color: #0e328e">若对以上任意职位有意，请联系：zhihuacai@tencent.com</h4>
				</div>
				<!--        <a href="//hr.tencent.com/position_detail.php?id=31396&keywords=TEG17&tid=0&lid=0" target="_blank" class="btn-common">申请职位</a>-->
			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>