<!doctype html>
<html class="" style="">

<!-- head -->
<head th:replace="head::html"></head>

<body style="" class="lang-cn">
	<section class="g-wrap">
		<!-- header -->
		<div th:replace="header::header('recruit')"></div>

		<div class="banner banner-recruit">
			<h2>伟大愿景，需要卓越的您</h2>
		</div>
		<div class="container">

			<div class="recruit-item">
				<h3 class="recruit-tit">研究员</h3>
				<div class="recruit-infor">工作地点：北京</div>
				<div class="recruit-desc">
					<h4>工作职责：</h4>
					<div class="recruit-text">
						1、 待完成
						<br>
						2、 待完成
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div th:replace="footer::html"></div>
	</section>
</body>
</html>